@charset "utf-8";
.container.col0,.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11 { position: relative;}
.container{width:960px; margin:0 auto;}
.col0{ width:8%;}
.col1{ width:16%;}
.col2{ width:25%;}
.col3{ width:33%;}
.col4{ width:41%;}
.col5{ width:50%}
.col6{ width:58%;}
.col7{ width:66%;}
.col8{ width:75%;}
.col9{ width:83%;}
.col10{ width:91%;}
.col11{ width:100%;}
.colauto{ width:auto;}

.clearfix:before, .clearfix:after {  content: ""; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.float_left{ float:left}
.float_right{ float:right}

.width5{ width:5px;}
.width10{ width:10px;}
.width15{ width:15px;}
.width20{ width:20px;}
.width25{ width:25px;}
.width30{ width:30px;}
.width35{ width:35px;}
.width40{ width:40px;}
.width45{ width:45px;}
.width50{ width:50px;}
.width55{ width:55px;}
.width60{ width:60px;}
.width65{ width:65px;}
.width70{ width:70px;}
.width75{ width:75px;}
.width80{ width:80px;}
.width85{ width:85px;}
.width90{ width:90px;}
.width95{ width:95px;}
.width100{ width:100px;}
.width105{ width:105px;}
.width110{ width:110px;}
.width115{ width:115px;}
.width120{ width:120px;}
.width125{ width:125px;}
.width130{ width:130px;}
.width135{ width:135px;}
.width140{ width:140px;}
.width145{ width:145px;}
.width150{ width:150px;}
.width155{ width:155px;}
.width160{ width:160px;}
.width165{ width:165px;}
.width170{ width:170px;}
.width175{ width:175px;}
.width180{ width:180px;}
.width185{ width:185px;}
.width190{ width:190px;}
.width195{ width:195px;}
.width200{ width:200px;}
.width205{ width:205px;}
.width210{ width:210px;}
.width215{ width:215px;}
.width220{ width:220px;}
.width225{ width:225px;}
.width230{ width:230px;}
.width235{ width:235px;}
.width240{ width:240px;}
.width245{ width:245px;}
.width250{ width:250px;}
.width255{ width:255px;}
.width260{ width:260px;}
.width265{ width:265px;}
.width270{ width:270px;}
.width275{ width:275px;}
.width280{ width:280px;}
.width285{ width:285px;}
.width290{ width:290px;}
.width295{ width:295px;}
.width300{ width:300px;}
.width305{ width:305px;}
.width310{ width:310px;}
.width315{ width:315px;}
.width320{ width:320px;}
.width325{ width:325px;}
.width330{ width:330px;}
.width335{ width:335px;}
.width340{ width:340px;}
.width345{ width:345px;}
.width350{ width:350px;}
.width355{ width:355px;}
.width360{ width:360px;}
.width365{ width:365px;}
.width370{ width:370px;}
.width375{ width:375px;}
.width380{ width:380px;}
.width385{ width:385px;}
.width390{ width:390px;}
.width395{ width:395px;}
.width400{ width:400px;}
.width405{ width:405px;}
.width410{ width:410px;}
.width415{ width:415px;}
.width420{ width:420px;}
.width425{ width:425px;}
.width430{ width:430px;}
.width435{ width:435px;}
.width440{ width:440px;}
.width445{ width:445px;}
.width450{ width:450px;}
.width455{ width:455px;}
.width460{ width:460px;}
.width465{ width:465px;}
.width470{ width:470px;}
.width475{ width:475px;}
.width480{ width:480px;}
.width485{ width:485px;}
.width490{ width:490px;}
.width495{ width:495px;}
.width500{ width:500px;}
.width505{ width:505px;}
.width510{ width:510px;}
.width515{ width:515px;}
.width520{ width:520px;}
.width525{ width:525px;}
.width530{ width:530px;}
.width535{ width:535px;}
.width540{ width:540px;}
.width545{ width:545px;}
.width550{ width:550px;}
.width555{ width:555px;}
.width560{ width:560px;}
.width565{ width:565px;}
.width570{ width:570px;}
.width575{ width:575px;}
.width580{ width:580px;}
.width585{ width:585px;}
.width590{ width:590px;}
.width595{ width:595px;}
.width600{ width:600px;}
.width605{ width:605px;}
.width610{ width:610px;}
.width615{ width:615px;}
.width620{ width:620px;}
.width625{ width:625px;}
.width630{ width:630px;}
.width635{ width:635px;}
.width640{ width:640px;}
.width645{ width:645px;}
.width650{ width:650px;}
.width655{ width:655px;}
.width660{ width:660px;}
.width665{ width:665px;}
.width670{ width:670px;}
.width675{ width:675px;}
.width680{ width:680px;}
.width685{ width:685px;}
.width690{ width:690px;}
.width695{ width:695px;}
.width700{ width:700px;}
.width705{ width:705px;}
.width710{ width:710px;}
.width715{ width:715px;}
.width720{ width:720px;}
.width725{ width:725px;}
.width730{ width:730px;}
.width735{ width:735px;}
.width740{ width:740px;}
.width745{ width:745px;}
.width750{ width:750px;}
.width755{ width:755px;}
.width760{ width:760px;}
.width765{ width:765px;}
.width770{ width:770px;}
.width775{ width:775px;}
.width780{ width:780px;}
.width785{ width:785px;}
.width790{ width:790px;}
.width795{ width:795px;}
.width800{ width:800px;}
.width805{ width:805px;}
.width810{ width:810px;}
.width815{ width:815px;}
.width820{ width:820px;}
.width825{ width:825px;}
.width830{ width:830px;}
.width835{ width:835px;}
.width840{ width:840px;}
.width845{ width:845px;}
.width850{ width:850px;}
.width855{ width:855px;}
.width860{ width:860px;}
.width865{ width:865px;}
.width870{ width:870px;}
.width875{ width:875px;}
.width880{ width:880px;}
.width885{ width:885px;}
.width890{ width:890px;}
.width895{ width:895px;}
.width900{ width:900px;}
.width905{ width:905px;}
.width910{ width:910px;}
.width915{ width:915px;}
.width920{ width:920px;}
.width925{ width:925px;}
.width930{ width:930px;}
.width935{ width:935px;}
.width940{ width:940px;}
.width945{ width:945px;}
.width950{ width:950px;}
.width955{ width:955px;}
.width960{ width:960px;}
.width965{ width:965px;}
.width970{ width:970px;}
.width975{ width:975px;}
.width980{ width:980px;}
.width985{ width:985px;}
.width990{ width:990px;}
.width995{ width:995px;}
.width1000{ width:1000px;}

.height5{  height:5px;}
.height10{ height:10px;}
.height15{ height:15px;}
.height20{ height:20px;}
.height25{ height:25px;}
.height30{ height:30px;}
.height35{ height:35px;}
.height40{ height:40px;}
.height45{ height:45px;}
.height50{ height:50px;}
.height55{ height:55px;}
.height60{ height:60px;}
.height65{ height:65px;}
.height70{ height:70px;}
.height75{ height:75px;}
.height80{ height:80px;}
.height85{ height:85px;}
.height90{ height:90px;}
.height95{ height:95px;}
.height100{ height:100px;}
.height105{ height:105px;}
.height110{ height:110px;}
.height115{ height:115px;}
.height120{ height:120px;}
.height125{ height:125px;}
.height130{ height:130px;}
.height135{ height:135px;}
.height140{ height:140px;}
.height145{ height:145px;}
.height150{ height:150px;}
.height155{ height:155px;}
.height160{ height:160px;}
.height165{ height:165px;}
.height170{ height:170px;}
.height175{ height:175px;}
.height180{ height:180px;}
.height185{ height:185px;}
.height190{ height:190px;}
.height195{ height:195px;}
.height200{ height:200px;}
.height205{ height:205px;}
.height210{ height:210px;}
.height215{ height:215px;}
.height220{ height:220px;}
.height225{ height:225px;}
.height230{ height:230px;}
.height235{ height:235px;}
.height240{ height:240px;}
.height245{ height:245px;}
.height250{ height:250px;}
.height255{ height:255px;}
.height260{ height:260px;}
.height265{ height:265px;}
.height270{ height:270px;}
.height275{ height:275px;}
.height280{ height:280px;}
.height285{ height:285px;}
.height290{ height:290px;}
.height295{ height:295px;}
.height300{ height:300px;}
.height305{ height:305px;}
.height310{ height:310px;}
.height315{ height:315px;}
.height320{ height:320px;}
.height325{ height:325px;}
.height330{ height:330px;}
.height335{ height:335px;}
.height340{ height:340px;}
.height345{ height:345px;}
.height350{ height:350px;}
.height355{ height:355px;}
.height360{ height:360px;}
.height365{ height:365px;}
.height370{ height:370px;}
.height375{ height:375px;}
.height380{ height:380px;}
.height385{ height:385px;}
.height390{ height:390px;}
.height395{ height:395px;}
.height400{ height:400px;}
.height405{ height:405px;}
.height410{ height:410px;}
.height415{ height:415px;}
.height420{ height:420px;}
.height425{ height:425px;}
.height430{ height:430px;}
.height435{ height:435px;}
.height440{ height:440px;}
.height445{ height:445px;}
.height450{ height:450px;}
.height455{ height:455px;}
.height460{ height:460px;}
.height465{ height:465px;}
.height470{ height:470px;}
.height475{ height:475px;}
.height480{ height:480px;}
.height485{ height:485px;}
.height490{ height:490px;}
.height495{ height:495px;}
.height500{ height:500px;}
.height505{ height:505px;}
.height510{ height:510px;}
.height515{ height:515px;}
.height520{ height:520px;}
.height525{ height:525px;}
.height530{ height:530px;}
.height535{ height:535px;}
.height540{ height:540px;}
.height545{ height:545px;}
.height550{ height:550px;}
.height555{ height:555px;}
.height560{ height:560px;}
.height565{ height:565px;}
.height570{ height:570px;}
.height575{ height:575px;}
.height580{ height:580px;}
.height585{ height:585px;}
.height590{ height:590px;}
.height595{ height:595px;}
.height600{ height:600px;}
.height605{ height:605px;}
.height610{ height:610px;}
.height615{ height:615px;}
.height620{ height:620px;}
.height625{ height:625px;}
.height630{ height:630px;}
.height635{ height:635px;}
.height640{ height:640px;}
.height645{ height:645px;}
.height650{ height:650px;}
.height655{ height:655px;}
.height660{ height:660px;}
.height665{ height:665px;}
.height670{ height:670px;}
.height675{ height:675px;}
.height680{ height:680px;}
.height685{ height:685px;}
.height690{ height:690px;}
.height695{ height:695px;}
.height700{ height:700px;}
.height705{ height:705px;}
.height710{ height:710px;}
.height715{ height:715px;}
.height720{ height:720px;}
.height725{ height:725px;}
.height730{ height:730px;}
.height735{ height:735px;}
.height740{ height:740px;}
.height745{ height:745px;}
.height750{ height:750px;}
.height755{ height:755px;}
.height760{ height:760px;}
.height765{ height:765px;}
.height770{ height:770px;}
.height775{ height:775px;}
.height780{ height:780px;}
.height785{ height:785px;}
.height790{ height:790px;}
.height795{ height:795px;}
.height800{ height:800px;}
.height805{ height:805px;}
.height810{ height:810px;}
.height815{ height:815px;}
.height820{ height:820px;}
.height825{ height:825px;}
.height830{ height:830px;}
.height835{ height:835px;}
.height840{ height:840px;}
.height845{ height:845px;}
.height850{ height:850px;}
.height855{ height:855px;}
.height860{ height:860px;}
.height865{ height:865px;}
.height870{ height:870px;}
.height875{ height:875px;}
.height880{ height:880px;}
.height885{ height:885px;}
.height890{ height:890px;}
.height895{ height:895px;}
.height900{ height:900px;}
.height905{ height:905px;}
.height910{ height:910px;}
.height915{ height:915px;}
.height920{ height:920px;}
.height925{ height:925px;}
.height930{ height:930px;}
.height935{ height:935px;}
.height940{ height:940px;}
.height945{ height:945px;}
.height950{ height:950px;}
.height955{ height:955px;}
.height960{ height:960px;}
.height965{ height:965px;}
.height970{ height:970px;}
.height975{ height:975px;}
.height980{ height:980px;}
.height985{ height:985px;}
.height990{ height:990px;}
.height995{ height:995px;}
.height1000{ height:1000px;}
/* 間距 */
.margin1{ margin:1px;}
.margin2{ margin:2px;}
.margin3{ margin:3px;}
.margin4{ margin:4px;}
.margin5{ margin:5px;}
.margin10{ margin:10px;}
.margin15{ margin:15px;}
.margin20{ margin:20px;}
.margin25{ margin:25px;}
.margin30{ margin:30px;}
.margin35{ margin:35px;}
.margin40{ margin:40px;}
.margin45{ margin:45px;}
.margin50{ margin:50px;}
.margin55{ margin:55px;}
.margin60{ margin:60px;}
.margin65{ margin:65px;}
.margin70{ margin:70px;}
.margin75{ margin:75px;}
.margin80{ margin:80px;}
.margin85{ margin:85px;}
.margin90{ margin:90px;}
.margin95{ margin:95px;}
.margin100{ margin:100px;}
.margin105{ margin:105px;}
.margin110{ margin:110px;}
.margin115{ margin:115px;}
.margin120{ margin:120px;}
.margin125{ margin:125px;}
.margin130{ margin:130px;}
.margin135{ margin:135px;}
.margin140{ margin:140px;}
.margin145{ margin:145px;}
.margin150{ margin:150px;}
.margin155{ margin:155px;}
.margin160{ margin:160px;}
.margin165{ margin:165px;}
.margin170{ margin:170px;}
.margin175{ margin:175px;}
.margin180{ margin:180px;}
.margin185{ margin:185px;}
.margin190{ margin:190px;}
.margin195{ margin:195px;}
.margin200{ margin:200px;}
.margin205{ margin:205px;}
.margin210{ margin:210px;}
.margin215{ margin:215px;}
.margin220{ margin:220px;}
.margin225{ margin:225px;}
.margin230{ margin:230px;}
.margin235{ margin:235px;}
.margin240{ margin:240px;}
.margin245{ margin:245px;}
.margin250{ margin:250px;}
.margin255{ margin:255px;}
.margin260{ margin:260px;}
.margin265{ margin:265px;}
.margin270{ margin:270px;}
.margin275{ margin:275px;}
.margin280{ margin:280px;}
.margin285{ margin:285px;}
.margin290{ margin:290px;}
.margin295{ margin:295px;}
.margin300{ margin:300px;}

.margin_left5{ margin-left:5px;}
.margin_left10{ margin-left:10px;}
.margin_left15{ margin-left:15px;}
.margin_left20{ margin-left:20px;}
.margin_left25{ margin-left:25px;}
.margin_left30{ margin-left:30px;}
.margin_left35{ margin-left:35px;}
.margin_left40{ margin-left:40px;}
.margin_left45{ margin-left:45px;}
.margin_left50{ margin-left:50px;}
.margin_left55{ margin-left:55px;}
.margin_left60{ margin-left:60px;}
.margin_left65{ margin-left:65px;}
.margin_left70{ margin-left:70px;}
.margin_left75{ margin-left:75px;}
.margin_left80{ margin-left:80px;}
.margin_left85{ margin-left:85px;}
.margin_left90{ margin-left:90px;}
.margin_left95{ margin-left:95px;}
.margin_left100{ margin-left:100px;}
.margin_left105{ margin-left:105px;}
.margin_left110{ margin-left:110px;}
.margin_left115{ margin-left:115px;}
.margin_left120{ margin-left:120px;}
.margin_left125{ margin-left:125px;}
.margin_left130{ margin-left:130px;}
.margin_left135{ margin-left:135px;}
.margin_left140{ margin-left:140px;}
.margin_left145{ margin-left:145px;}
.margin_left150{ margin-left:150px;}
.margin_left155{ margin-left:155px;}
.margin_left160{ margin-left:160px;}
.margin_left165{ margin-left:165px;}
.margin_left170{ margin-left:170px;}
.margin_left175{ margin-left:175px;}
.margin_left180{ margin-left:180px;}
.margin_left185{ margin-left:185px;}
.margin_left190{ margin-left:190px;}
.margin_left195{ margin-left:195px;}
.margin_left200{ margin-left:200px;}
.margin_left205{ margin-left:205px;}
.margin_left210{ margin-left:210px;}
.margin_left215{ margin-left:215px;}
.margin_left220{ margin-left:220px;}
.margin_left225{ margin-left:225px;}
.margin_left230{ margin-left:230px;}
.margin_left235{ margin-left:235px;}
.margin_left240{ margin-left:240px;}
.margin_left245{ margin-left:245px;}
.margin_left250{ margin-left:250px;}
.margin_left255{ margin-left:255px;}
.margin_left260{ margin-left:260px;}
.margin_left265{ margin-left:265px;}
.margin_left270{ margin-left:270px;}
.margin_left275{ margin-left:275px;}
.margin_left280{ margin-left:280px;}
.margin_left285{ margin-left:285px;}
.margin_left290{ margin-left:290px;}
.margin_left295{ margin-left:295px;}
.margin_left300{ margin-left:300px;}

.margin_right5{ margin-right:5px;}
.margin_right10{ margin-right:10px;}
.margin_right15{ margin-right:15px;}
.margin_right20{ margin-right:20px;}
.margin_right25{ margin-right:25px;}
.margin_right30{ margin-right:30px;}
.margin_right35{ margin-right:35px;}
.margin_right40{ margin-right:40px;}
.margin_right45{ margin-right:45px;}
.margin_right50{ margin-right:50px;}
.margin_right55{ margin-right:55px;}
.margin_right60{ margin-right:60px;}
.margin_right65{ margin-right:65px;}
.margin_right70{ margin-right:70px;}
.margin_right75{ margin-right:75px;}
.margin_right80{ margin-right:80px;}
.margin_right85{ margin-right:85px;}
.margin_right90{ margin-right:90px;}
.margin_right95{ margin-right:95px;}
.margin_right100{ margin-right:100px;}
.margin_right105{ margin-right:105px;}
.margin_right110{ margin-right:110px;}
.margin_right115{ margin-right:115px;}
.margin_right120{ margin-right:120px;}
.margin_right125{ margin-right:125px;}
.margin_right130{ margin-right:130px;}
.margin_right135{ margin-right:135px;}
.margin_right140{ margin-right:140px;}
.margin_right145{ margin-right:145px;}
.margin_right150{ margin-right:150px;}
.margin_right155{ margin-right:155px;}
.margin_right160{ margin-right:160px;}
.margin_right165{ margin-right:165px;}
.margin_right170{ margin-right:170px;}
.margin_right175{ margin-right:175px;}
.margin_right180{ margin-right:180px;}
.margin_right185{ margin-right:185px;}
.margin_right190{ margin-right:190px;}
.margin_right195{ margin-right:195px;}
.margin_right200{ margin-right:200px;}
.margin_right205{ margin-right:205px;}
.margin_right210{ margin-right:210px;}
.margin_right215{ margin-right:215px;}
.margin_right220{ margin-right:220px;}
.margin_right225{ margin-right:225px;}
.margin_right230{ margin-right:230px;}
.margin_right235{ margin-right:235px;}
.margin_right240{ margin-right:240px;}
.margin_right245{ margin-right:245px;}
.margin_right250{ margin-right:250px;}
.margin_right255{ margin-right:255px;}
.margin_right260{ margin-right:260px;}
.margin_right265{ margin-right:265px;}
.margin_right270{ margin-right:270px;}
.margin_right275{ margin-right:275px;}
.margin_right280{ margin-right:280px;}
.margin_right285{ margin-right:285px;}
.margin_right290{ margin-right:290px;}
.margin_right295{ margin-right:295px;}
.margin_right300{ margin-right:300px;}

.margin_top5{ margin-top:5px;}
.margin_top10{ margin-top:10px;}
.margin_top15{ margin-top:15px;}
.margin_top20{ margin-top:20px;}
.margin_top25{ margin-top:25px;}
.margin_top30{ margin-top:30px;}
.margin_top35{ margin-top:35px;}
.margin_top40{ margin-top:40px;}
.margin_top45{ margin-top:45px;}
.margin_top50{ margin-top:50px;}
.margin_top55{ margin-top:55px;}
.margin_top60{ margin-top:60px;}
.margin_top65{ margin-top:65px;}
.margin_top70{ margin-top:70px;}
.margin_top75{ margin-top:75px;}
.margin_top80{ margin-top:80px;}
.margin_top85{ margin-top:85px;}
.margin_top90{ margin-top:90px;}
.margin_top95{ margin-top:95px;}
.margin_top100{ margin-top:100px;}
.margin_top105{ margin-top:105px;}
.margin_top110{ margin-top:110px;}
.margin_top115{ margin-top:115px;}
.margin_top120{ margin-top:120px;}
.margin_top125{ margin-top:125px;}
.margin_top130{ margin-top:130px;}
.margin_top135{ margin-top:135px;}
.margin_top140{ margin-top:140px;}
.margin_top145{ margin-top:145px;}
.margin_top150{ margin-top:150px;}
.margin_top155{ margin-top:155px;}
.margin_top160{ margin-top:160px;}
.margin_top165{ margin-top:165px;}
.margin_top170{ margin-top:170px;}
.margin_top175{ margin-top:175px;}
.margin_top180{ margin-top:180px;}
.margin_top185{ margin-top:185px;}
.margin_top190{ margin-top:190px;}
.margin_top195{ margin-top:195px;}
.margin_top200{ margin-top:200px;}
.margin_top205{ margin-top:205px;}
.margin_top210{ margin-top:210px;}
.margin_top215{ margin-top:215px;}
.margin_top220{ margin-top:220px;}
.margin_top225{ margin-top:225px;}
.margin_top230{ margin-top:230px;}
.margin_top235{ margin-top:235px;}
.margin_top240{ margin-top:240px;}
.margin_top245{ margin-top:245px;}
.margin_top250{ margin-top:250px;}
.margin_top255{ margin-top:255px;}
.margin_top260{ margin-top:260px;}
.margin_top265{ margin-top:265px;}
.margin_top270{ margin-top:270px;}
.margin_top275{ margin-top:275px;}
.margin_top280{ margin-top:280px;}
.margin_top285{ margin-top:285px;}
.margin_top290{ margin-top:290px;}
.margin_top295{ margin-top:295px;}
.margin_top300{ margin-top:300px;}

.margin_bottom5{ margin-bottom:5px;}
.margin_bottom10{ margin-bottom:10px;}
.margin_bottom15{ margin-bottom:15px;}
.margin_bottom20{ margin-bottom:20px;}
.margin_bottom25{ margin-bottom:25px;}
.margin_bottom30{ margin-bottom:30px;}
.margin_bottom35{ margin-bottom:35px;}
.margin_bottom40{ margin-bottom:40px;}
.margin_bottom45{ margin-bottom:45px;}
.margin_bottom50{ margin-bottom:50px;}
.margin_bottom55{ margin-bottom:55px;}
.margin_bottom60{ margin-bottom:60px;}
.margin_bottom65{ margin-bottom:65px;}
.margin_bottom70{ margin-bottom:70px;}
.margin_bottom75{ margin-bottom:75px;}
.margin_bottom80{ margin-bottom:80px;}
.margin_bottom85{ margin-bottom:85px;}
.margin_bottom90{ margin-bottom:90px;}
.margin_bottom95{ margin-bottom:95px;}
.margin_bottom100{ margin-bottom:100px;}
.margin_bottom105{ margin-bottom:105px;}
.margin_bottom110{ margin-bottom:110px;}
.margin_bottom115{ margin-bottom:115px;}
.margin_bottom120{ margin-bottom:120px;}
.margin_bottom125{ margin-bottom:125px;}
.margin_bottom130{ margin-bottom:130px;}
.margin_bottom135{ margin-bottom:135px;}
.margin_bottom140{ margin-bottom:140px;}
.margin_bottom145{ margin-bottom:145px;}
.margin_bottom150{ margin-bottom:150px;}
.margin_bottom155{ margin-bottom:155px;}
.margin_bottom160{ margin-bottom:160px;}
.margin_bottom165{ margin-bottom:165px;}
.margin_bottom170{ margin-bottom:170px;}
.margin_bottom175{ margin-bottom:175px;}
.margin_bottom180{ margin-bottom:180px;}
.margin_bottom185{ margin-bottom:185px;}
.margin_bottom190{ margin-bottom:190px;}
.margin_bottom195{ margin-bottom:195px;}
.margin_bottom200{ margin-bottom:200px;}
.margin_bottom205{ margin-bottom:205px;}
.margin_bottom210{ margin-bottom:210px;}
.margin_bottom215{ margin-bottom:215px;}
.margin_bottom220{ margin-bottom:220px;}
.margin_bottom225{ margin-bottom:225px;}
.margin_bottom230{ margin-bottom:230px;}
.margin_bottom235{ margin-bottom:235px;}
.margin_bottom240{ margin-bottom:240px;}
.margin_bottom245{ margin-bottom:245px;}
.margin_bottom250{ margin-bottom:250px;}
.margin_bottom255{ margin-bottom:255px;}
.margin_bottom260{ margin-bottom:260px;}
.margin_bottom265{ margin-bottom:265px;}
.margin_bottom270{ margin-bottom:270px;}
.margin_bottom275{ margin-bottom:275px;}
.margin_bottom280{ margin-bottom:280px;}
.margin_bottom285{ margin-bottom:285px;}
.margin_bottom290{ margin-bottom:290px;}
.margin_bottom295{ margin-bottom:295px;}
.margin_bottom300{ margin-bottom:300px;}

.padding1{ padding:1px;}
.padding2{ padding:2px;}
.padding3{ padding:3px;}
.padding4{ padding:4px;}
.padding5{ padding:5px;}
.padding10{ padding:10px;}
.padding15{ padding:15px;}
.padding20{ padding:20px;}
.padding25{ padding:25px;}
.padding30{ padding:30px;}
.padding35{ padding:35px;}
.padding40{ padding:40px;}
.padding45{ padding:45px;}
.padding50{ padding:50px;}
.padding55{ padding:55px;}
.padding60{ padding:60px;}
.padding65{ padding:65px;}
.padding70{ padding:70px;}
.padding75{ padding:75px;}
.padding80{ padding:80px;}
.padding85{ padding:85px;}
.padding90{ padding:90px;}
.padding95{ padding:95px;}
.padding100{ padding:100px;}
.padding105{ padding:105px;}
.padding110{ padding:110px;}
.padding115{ padding:115px;}
.padding120{ padding:120px;}
.padding125{ padding:125px;}
.padding130{ padding:130px;}
.padding135{ padding:135px;}
.padding140{ padding:140px;}
.padding145{ padding:145px;}
.padding150{ padding:150px;}
.padding155{ padding:155px;}
.padding160{ padding:160px;}
.padding165{ padding:165px;}
.padding170{ padding:170px;}
.padding175{ padding:175px;}
.padding180{ padding:180px;}
.padding185{ padding:185px;}
.padding190{ padding:190px;}
.padding195{ padding:195px;}
.padding200{ padding:200px;}
.padding205{ padding:205px;}
.padding210{ padding:210px;}
.padding215{ padding:215px;}
.padding220{ padding:220px;}
.padding225{ padding:225px;}
.padding230{ padding:230px;}
.padding235{ padding:235px;}
.padding240{ padding:240px;}
.padding245{ padding:245px;}
.padding250{ padding:250px;}
.padding255{ padding:255px;}
.padding260{ padding:260px;}
.padding265{ padding:265px;}
.padding270{ padding:270px;}
.padding275{ padding:275px;}
.padding280{ padding:280px;}
.padding285{ padding:285px;}
.padding290{ padding:290px;}
.padding295{ padding:295px;}
.padding300{ padding:300px;}

.padding_bottom5 { padding-bottom:5px;}
.padding_bottom10{ padding-bottom:10px;}
.padding_bottom15{ padding-bottom:15px;}
.padding_bottom20{ padding-bottom:20px;}
.padding_bottom25{ padding-bottom:25px;}
.padding_bottom30{ padding-bottom:30px;}
.padding_bottom35{ padding-bottom:35px;}
.padding_bottom40{ padding-bottom:40px;}
.padding_bottom45{ padding-bottom:45px;}
.padding_bottom50{ padding-bottom:50px;}


.col-offset0 {margin-left: 0;}
.col-offset1 {margin-left: 8.333333333333332%;}
.col-offset2 {margin-left: 16.666666666666664%;}
.col-offset3 {margin-left: 25%;}
.col-offset4 {margin-left: 33.33333333333333%;}
.col-offset5 {margin-left: 41.66666666666667%;}
.col-offset6 {margin-left: 50%;}
.col-offset7 {margin-left: 58.333333333333336%;}
.col-offset8 {margin-left: 66.66666666666666%;}
.col-offset9 {margin-left: 75%;}
.col-offset10 {margin-left: 83.33333333333334%;}
.col-offset11 {margin-left: 91.66666666666666%;}




.bg_color_black{background: #000;}
.bg_color_gray{background: #999999;}
.bg_color_lightGray{background: #EDEDED;}
.bg_color_llightblue {background: #D8E5F0;}
.bg_color_white {background: #fff;}

.color_black{color:#000;}
.color_white{color:#fff;}
.color_darkGray{color:#333;}
.color_gray{color:#666;}
.color_lightGray{color:#ccc;}
.color_red{color:#aa0000;}
.color_darkBlue{color:#2980b9;}
.color_lightBlue{color:#3498db;}
.color_darkGreen{color:#52be7f;}
.color_lightGreen{color:#2ecc71;}
.color_orange{color:#ff6000;}

.scorllOverFlow{overflow:scroll;}
.scorllyOverFlow{overflow-y:scroll;}

