@charset "UTF-8";
/* ipad 禁止選取  start */
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* ipad 禁止選取 end*/
.opacity0{ opacity:0}

/* 框架 start*/
.SalesViewPort{
	position: absolute;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	max-width: 1024px;
	-webkit-overflow-scrolling: touch;
}
.SalesContainer{
	width: 100%;
	min-width: 1024px;
	height: 100%;
	min-height: auto;
	overflow: auto;
	z-index: 1;
}
/* 框架 end*/
/* 左側側欄 start*/
.sidebar{
	position: absolute;
	z-index: 900;
	width: 246px;
	left: -246px;
	height: 100%;
	background: #c03030;
}
.sidebarNav{
	display: block;
	width: 246px;
	height: 100%;
	position: absolute;
}

.sidebarNav_icon{ 
position:absolute; 
left:246px;
top:0;
width:56px; height:53px;}
.nav_icon{
	position: absolute;
	margin: 0 auto;
	width: 56px;
	height: 52px;
	background: url(../images/nav-icon.png);
}
.sidebar ul{}
.sidebar ul li{ position:relative;  width:246px; height:50px;  border-bottom:solid #a52727 1px; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none;}
.sidebarliHover{ background:#9a1616; }
.sidebarIcon_0,.sidebarIcon_1,.sidebarIcon_2,.sidebarIcon_3,.sidebarIcon_4,.sidebarIcon_5,.sidebarIcon_6,.sidebarIcon_7{
	display:inline-block;  width:32px; height:32px; margin-left:27px;
}
.sidebarIcon_0{ background:url(../images/sidebarIcon_0.png) no-repeat;}
.sidebarIcon_1{ background:url(../images/sidebarIcon_1.png) no-repeat;}
.sidebarIcon_2{ background:url(../images/sidebarIcon_2.png) no-repeat;}
.sidebarIcon_3{ background:url(../images/sidebarIcon_3.png) no-repeat;}
.sidebarIcon_4{ background:url(../images/sidebarIcon_4.png) no-repeat;}
.sidebarIcon_5{ background:url(../images/sidebarIcon_5.png) no-repeat;}
.sidebarIcon_6{ background:url(../images/sidebarIcon_6.png) no-repeat;}
.sidebarIcon_7{ background:url(../images/sidebarIcon_7.png) no-repeat;}
.arrowRight{  position:absolute; right:20px; top:20px;   width:7px; height:13px; background:url(../images/arrowRight.png) no-repeat;}
/* 左側側欄 end*/

/* 登入頁面 start*/
.loginImg{
	display: inline-block;
	position: absolute;
	width: 418px;
	height: 740px;
	left: 40px;
	top: 39px;
}
.loginTitle{ display:inline-block; position:absolute; width:313px; height: 93px; left:570px; top:180px; }
.loginForm{ display:inline-block; position:absolute; left:500px; top:330px; }
.loginInputs{display:inline-block; position:relative; width:500px;}
.loginform_input{
	height: 65px;
	font-size: 18px;
	color: #333;
	vertical-align: middle;
	background-color: #E0E0E0;
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
	outline: none;
	padding-left: 15px;
	padding-bottom:1px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
	font-family: 'Duru Sans', sans-serif;
}
.loginform_input:focus{
	color: #666;
	background-color: #ececec;
	border: 1px solid #aaaaaa;
	outline: none;
	font-family: 'Duru Sans', sans-serif;
}
.loginform2_input{
	height: 65px;
	font-size: 18px;
	color: #333;
	vertical-align: middle;
	background-color: #E0E0E0;
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
	outline: none;
	padding-left: 15px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
	font-family: 'Duru Sans', sans-serif;
}
.loginform2_input:focus{
	color: #666;
	background-color: #ececec;
	border: 1px solid #aaaaaa;
	outline: none;
	font-family: 'Duru Sans', sans-serif;
}
.logsubmit {
	width:460px;
	height:55px;
	list-style: none;
	-webkit-border-radius: 6px;
    -moz-border-radius:6px;
    border-radius:6px;
  
}
.logsubmitBtn {
	display:inline-block;
	width:450px;
	height:55px;
	color: #FFF;
	background-color: #e72527;
	border:1px solid #e72527;
	text-decoration: none;
	text-align:center;
	vertical-align:middle;
	line-height:55px;
	font-size: 18px;
    font-family: 'Duru Sans', sans-serif;
	-webkit-border-radius: 6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
.logsubmitBtn_Active{
	color: #FFF;
	background-color: #ec5859;
	border: 1px solid #ec5859;
}
.form_false{
	display:inline-block;
	width:16px;
	height:16px;
	background:url(../images/form_false.png);
}
.form_ok{
	display:inline-block;
	width:16px;
	height:16px;
	background:url(../images/form_ok.png);
}
.logOutBtn{
	display:inline-block;
	width:24px;
	height:24px;
	background:url(../images/logOutBtn.png) no-repeat;
}
.Tel24hour{
	display:inline-block;
	width:166px;
	height:22px;
	background:url(../images/Tel24hour.png) no-repeat;
}
.PromptIcon{
	position:absolute;
	width:36px;
	height:36px;
	right:10px;
	top:6px;
	background:url(../images/PromptIcon.png) no-repeat;
}
/* 登入頁面 end*/
/* 首頁 start*/
.topNav{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 52px;
	z-index: 100;
	background: url(../images/topNavBg.png) repeat-x;
	background-color: #fff;
}
.TutorABC_Logo{ width:143px; height:29px; margin:10px auto; }


.indexBtnGroup{position:absolute;display:inline-block;   width:396px; left:610px; top:215px; height:396px;}
.indexBtn{display:inline-block; float:left;width:132px; height:132px; opacity:0;}
.indexBtn span{display:inline-block; position:relative; width:132px; height:24px;  top:98px; text-align:center; }
.indexBtn_1{ background:url(../images/indexBtn_1.png);}
.indexBtn_2{ background:url(../images/indexBtn_2.png);}
.indexBtn_3{ background:url(../images/indexBtn_3.png);}
.indexBtn_4{ background:url(../images/indexBtn_4.png);}
.indexBtn_5{ background:url(../images/indexBtn_5.png);}
.indexBtn_6{ background:url(../images/indexBtn_6.png);}
.indexBtn_7{ background:url(../images/indexBtn_7.png);}
.indexBtn_8{ background:url(../images/indexBtn_8.png);}
.indexBtn_9{ background:url(../images/indexBtn_9.png);}
.indexBtnHover_1{ background:url(../images/indexBtnHover_1.png); }
.indexBtnHover_2{ background:url(../images/indexBtnHover_2.png); }
.indexBtnHover_3{ background:url(../images/indexBtnHover_3.png); }
.indexBtnHover_4{ background:url(../images/indexBtnHover_4.png); }
.indexBtnHover_5{ background:url(../images/indexBtnHover_5.png); }
.indexBtnHover_6{ background:url(../images/indexBtnHover_6.png); }
.indexBtnHover_7{ background:url(../images/indexBtnHover_7.png); }
.indexBtnHover_8{ background:url(../images/indexBtnHover_8.png); }
.indexBtnHover_9{ background:url(../images/indexBtnHover_9.png); }
.bottomStatus{
	background: url(../images/bottomStatusBg.png);
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 49px;
	background-color: #ffffff;
	z-index: 100;
}

.indexImg{ display:inline-block; position:absolute; width:418px; height:700px; left:180px; top:72px;}
.index_Title01,.index_Title02,.index_Title03,.index_Title04{display:inline-block; position:absolute;}
.index_Title01{ width:306px; height:74px; left:25px; top:215px; }
.index_Title02{ width:229px; height:20px; left:30px; top:280px; }
.index_Title03{ width:306px; height:38px; left:25px; top:324px; }
.index_Title04{ width:267px; height:138px; left:25px; top:550px; }
/* 首頁 end*/

/* newList頁面 start*/
.newListBg{ background: url(../images/newListBg.png);}
.newListImg{
	position: absolute;
	width: 574px;
	height: 686px;
	left: 202px;
	top: 81px;
}
.newListTitle01,.newListTitle02{position:absolute; }
.newListTitle01{ width:355px; height:157px; left:30px; top:160px;}
.newListTitle02{ width:190px; height:40px; left:70px; top:160px;z-index:2}
/* newList頁面 end*/

/* nowReserve頁面 start*/
.nowReserveBg{
	background: url(../images/nowReserveBg.png);
}
.nowReserveTitle_01,.nowReserveTitle_02,.nowReserveTitle_03{ position:absolute; }
.nowReserveTitle_01{ width:329px; height:45px; left:55px; top:333px; }
.nowReserveTitle_02{ width:467px; height:38px; left:55px; top:395px; }
.nowReserveTitle_03{ width:241px; height:40px; left:50px; top:180px; z-index:2}
/* nowReserve頁面 end*/
/* keepReserve頁面 start*/
.keepReserveBtn{display:inline-block; float:left;width:92px; height:92px; opacity:0; margin:3px;}
.keepReserveBtn span{display:inline-block; position:relative; width:92px; height:24px;  top:60px; text-align:center; }
.keepReserveBtn_1{ background:url(../images/keepReserveBtn_1.png);}
.keepReserveBtn_2{ background:url(../images/keepReserveBtn_2.png);}
.keepReserveBtn_3{ background:url(../images/keepReserveBtn_3.png);}

.keepReserveBtnHover_1{ background:url(../images/keepReserveBtnHover_1.png); }
.keepReserveBtnHover_2{ background:url(../images/keepReserveBtnHover_2.png); }
.keepReserveBtnHover_3{ background:url(../images/keepReserveBtnHover_3.png); }
/* keepReserve頁面 end*/

/* registerSuccess頁面 start*/
.registerSuccessBg{ background: url(../images/registerSuccessBg.png);}
.registerSuccessTitle_01,.registerSuccessTitle_02,.registerSuccessTitle_03{ position:absolute; }
.registerSuccessTitle_01{ width:329px; height:45px; left:30px; top:190px; }
.registerSuccessTitle_02{ width:467px; height:38px; left:100px; top:240px; }
.registerSuccessTitle_03{ width:190px; height:40px; left:50px; top:180px; z-index:2}
/* registerSuccess頁面 end*/


/* newOnlineSession頁面 start*/
.newOnlineSessionImgBg{ background: url(../images/newListBg.png);}
.newOnlineSessionImg{  position:absolute; width:574px; height:686px; left:44px; top:82px;  }
.newOnlineSessionTitle_01,.newOnlineSessionTitle_02,.newOnlineSessionTitle_03{position:absolute; }
.newOnlineSessionTitle_01{ width:355px; height:157px; left:45px; top:180px;}
.newOnlineSessionTitle_02{ width:190px; height:40px; left:120px; top:240px;}
.newOnlineSessionTitle_03{ width:280px; height:40px; left:30px; top:100px; z-index:2}
/* newOnlineSession頁面 end*/



/* rightfuncBox區塊 start*/
.rightfuncBox{
	width: 350px;
	min-height: 768px;
	float: right;
	background-color: #C03030;
	position: relative;
}
.rightfuncBoxBg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 350px;
	height: 100%;
	background: #000;
	opacity: 0.2;
	z-index: 0;
}
.rightfuncBoxBgRed{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 350px;
	height: 768px;
	background: #c03030;
}
.rightfuncBoxBgDarkRed{ position:absolute;top:0px; left:0px;  width:350px; height:100%; background:#4c1010;opacity:0.4;z-index:0;}
.rightfuncBoxFrom{
	position: absolute;
	height: 300px;
	top: 261px;
	left: 45px;
	z-index: 20;
}
.rightfuncBoxFrom2{
	height: auto;
	top: 261px;
	left: 204px;
	z-index: 20;
}
.rightfuncBoxOnlineSessionFrom{ position:absolute; height:300px; top:160px; left:40px; z-index:20;}
/* rightfuncBox區塊 end*/


/* RightbuyBox區塊 start*/
.RightbuyBox{
	width: 742px;
	min-height: 768px;
	float: right;
	height: auto;
	position: relative;
}
.rightfuncBoxOnlineSessionFrom{ position:absolute; height:300px; top:160px; left:40px; z-index:20;}
/* RightbuyBox區塊 end*/


/* LeftpersonBox區塊 start*/
.LeftpersonBox{
	width: 282px;
	min-height: 768px;
	float: left;
	position: absolute;
	height: auto;
}
/* LeftpersonBox區塊 end*/




/* feature頁面 start*/
.featureImgBg{ background: url(../images/newListBg2.png);}
/* feature頁面 end*/

/* level頁面 start*/
.levelBg{
	background: url(../images/newListBg2.png);
}
.levelLeft{
	width: 240px;
	height: auto;
	float: left;
	margin: 70px 0 100px 22px;
}
.levelshow{ background: url(../images/levelbg.png) no-repeat;width: 240px; height: 310px; float: left; margin-bottom:15px;}
.levelshow p{
	font-size: 14px;
	color: #fff;
	padding: 17px 0 0 65px;
}
.levelshow h1{
	font-size: 38px;
	color: #fff;
	text-align: center;
	padding: 65px 0 0 0;
}
.levelresult{ width: 210px; height: auto; padding: 15px; min-height:280px; float: left;	box-shadow: 0px 0px 3px rgba(20%,20%,20%,0.5);
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f7f7f7 75%, #e8e8e8 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(75%,#f7f7f7), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.levelresult h1{
	font-size: 20px;
	color: #ff5f00;
}
.levelresult p{
	font-size: 15px;
	line-height: 26px;
	padding: 15px 0 0 0;
}
.levelRight{
	width: 730px;
	height: auto;
	z-index: 20;
	float: left;
	margin: 70px 0 100px 10px;
}
.spidershow{
	width: 700px;
	height: auto;
	min-height: 280px;
	padding: 15px;
	float: left;
	margin-bottom: 15px;
	box-shadow: 0px 0px 3px rgba(20%,20%,20%,0.5);
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f7f7f7 75%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(75%,#f7f7f7), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#f7f7f7 75%,#e8e8e8 100%); /* W3C */


filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.spidershow h1{
	font-size: 20px;
	color: #ff5f00;
}
.spidershow p{
	font-size: 13px;
	line-height: 22px;
	padding: 15px 0 0 0;
	word-wrap: break-word;
    word-break: break-all;
}
.levelbarchart{
	width: 730px;
	height: auto;
	min-height: 310px;
	float: left;
	box-shadow: 0px 0px 3px rgba(20%,20%,20%,0.5);
	background: #ffffff;
}
.levelreport{
	width: 700px;
	height: auto;
	min-height: 84px;
	float: left;
	background: #ffffff;
	padding: 0 15px;
}
.levelreport .kind{
	width: 93px;
	height: 70px;
	float: left;
	padding-top: 24px;
}
.levelreport .kind .titlefont{
	font-size: 20px;
	float: left;
	padding: 3px 0 0 6px;
}
.levelreport .kind .redfont{
	color: #d00404;
	font-size: 25px;
	float: left;
	padding: 0 0 0 5px;
}
.levelreport .bar{
	width: 280px;
	height: 94px;
	float: left;
}
.levelreport .bar .number{
	width: 251px;
	height: auto;
	float: left;
	margin: 24px 0 3px 0;
}
.levelreport .bar .number li{
	width: 25px;
	height: auto;
	font-size: 12px;
	float: right;
	text-align: right;
}
.levelreport .explanation{
	width: 325px;
	height: auto;
	min-height: 66px;
	float: left;
	font-size: 14px;
	line-height: 21px;
	padding: 14px 0;
}
/* level頁面 end*/

/* settingForm頁面 start*/
.settingFormBg{ background: url(../images/newListBg2.png);}
.settingFormalan{
	width: auto;
	height: auto;
	left: 80px;
	top: 90px;
	z-index: 10;
	position: absolute;
}
/* settingForm頁面 end*/

.productBg{ background: url(../images/newListBg3.png);
background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:left top; 
}
