
<!-- #############Content部分 start################ -->
<div class="content">
    <div class="box_960">
        <div class="box_660 color_333">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")">Home</a><span> / </span>安全条款</div>
            <div class="div_abc_outer_main_continent">
                <!--contents start-->
                <!--contents end-->
                <div class="terms_main">
                    「VIPABC」会以适当的商业步骤并以合理之技术及程序，来确保您在「VIPABC」中所做每一笔信用卡交易的安全。您可以放心的购买「VIPABC」所提供之服务，我们也不会同意让他人看到您在我们网站上的交易情况。您的个人资料都会由Secure
                    Sockets Layer (SSL) 加密方式来处理，因此您的数据在网络上传送时，是不会被任意拦截或读取。
                    <p>
                        ＊「VIPABC」的安全性服务器软件对于在网络上的信用卡交易来说是最有用的。它会将您所有个人的数据都加密，包括您的姓名、信用卡号码与地址等。</p>
                    <p>
                        ＊如果您发现您的账单出现不明消费时，那么您必须依照您的信用卡公司所订定的标准程序立即通知他们。在大部分的国家中，信用卡公司不能要求持卡人负担超过规定的盗刷费用。如果您的信用卡公司发现不明消费款项是直接透过「VIPABC」安全服务器所产生，而您的信用卡公司拒绝承担这些费用，则「VIPABC」将会偿还您最高规定的自付额。</p>
                    <p>
                        ＊在「VIPABC」的网站资源中，如果有提供其它与学习有关之网站连结时，当您造访这些网站，应遵守该隐私权政策及其它相关条款与规定。建议您在提供个人资料之前，请先阅读这些网站的隐私权及相关声明。</p>
                    <p>
                        如果您对这个部分的条款有任何问题，或是对「VIPABC」其他条款或做法有任何问题时，请与我们联络。</p>
                    <font id="div_abc_inner_main_contents"></font>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #############Content部分 end################ -->
