#album {	position: absolute;	margin: 0 auto;	width: 960px;	width: 100%;	height: 600px;	top: 0;	z-index: 0;}
.banner_prev{background: url(../images/banner/banner_prev.png) no-repeat; top: 0;	left: 0; }
.banner_next{background: url(../images/banner/banner_next.png) no-repeat; top: 0;	right: 0;	}

.banner_prev, .banner_next {position: absolute;	display: block;	width: 30px;	height: 56px;	text-indent: -9999px;		background-position: center center;		z-index: 306; opacity: .5;	-moz-opacity: .5;	-khtml-opacity: .5;	 filter:alpha(opacity=50);}
.banner_prev:hover,.banner_next:hover {
	opacity: 1;	-moz-opacity: 1;	-khtml-opacity: 1;	 filter:alpha(opacity=100);
}

#album .slides {
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	width: 960px;
	height: 560px;
	overflow:hidden;
}
#album .slides ul {
	position: absolute;
	width: 960px;
	height: 100%
}
#album .slides li {
	position: absolute;
	width: 960px;
	height: 100%;
	float: left
}
#album .slides li .tranPng {
	position: absolute;
	width: 960px;
	height: 100%;
	background: 0
}
#album .Thumbnail {
	position: relative;
	margin: 0 auto;
	margin-top: -60px;
	width: 960px;
	height: 100px;
	z-index: 10
}
#album .Thumbnail ul {
	position: relative;
	margin: 0 auto;
	width: 320px
}
#album .Thumbnail li {
	width: 59px;
	height: 36px;
	margin-right: 10px;
	float: left
}
.new_ad_switch {
	position: relative;
	top: 424px;
	z-index: 302;
	width: 960px;
	margin: 0 auto;
	height: 56px;
	background: url(../images/banner/new_ad_switch_bg.png) no-repeat
}
.new_ad_btns {
	position: relative;
	display: block;
	width: 900px;
	margin-left:30px;
	margin-right:30px;
}

.new_ad_btns li {
	float: left;
	list-style: none;
	width: 223px;
	margin: 1px;
}

.new_ad_btns div {
	padding: 0 8px 0 8px;
}
.ad_line {
	background: url(../images/new_ad_li_line.png) right no-repeat
}
.new_ad_btns li a {
	font-size:14px;
	text-decoration: none;
	color: #999;
	
}
.new_ad_btns li a: hover {
	text-decoration: none;
	color: #ccc
}
.timeline {
	position: absolute;
	width: 1x;
	height: 1px;
	background: #e60013
}
