body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../合約預覽_合約內容更改__files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:99px;
    top:306px;
    width:717px;
    height:687px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:717px;
    height:687px;
}

.u1 {
    position:absolute;
    left:2px;
    top:336px;
    width:713px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../合約預覽_合約內容更改__files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:99px;
    top:64px;
    width:661px;
    height:232px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:661px;
    height:232px;
}

.u3 {
    position:absolute;
    left:2px;
    top:108px;
    width:657px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

