

.u2093_normal {
    background-image: url('../Home_files/u2055_normal.png');
}

.u2093_container {
    position:absolute;
    left:853px;
    top:37px;
    width:55px;
    height:36px;
}

#u2093_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:42px;
}

.u2094 {
    position:absolute;
    left:2px;
    top:10px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2095 {
    position:absolute;
    left:775px;
    top:48px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2096 {
    position:absolute;
    left:875px;
    top:48px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2097_normal {
    background-image: url('../Home_files/u2063_normal.png');
}

.u2097_container {
    position:absolute;
    left:910px;
    top:37px;
    width:51px;
    height:14px;
}

#u2097_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:20px;
}

.u2098 {
    position:absolute;
    left:2px;
    top:-1px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2099_normal {
    background-image: url('../Home_files/u2060_normal.png');
}

.u2099_container {
    position:absolute;
    left:910px;
    top:53px;
    width:51px;
    height:20px;
}

#u2099_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u2100 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2101 {
    position:absolute;
    left:925px;
    top:38px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2102 {
    position:absolute;
    left:929px;
    top:57px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2103_normal {
    background-image: url('../Home_files/u2078_normal.png');
}

.u2103_container {
    position:absolute;
    left:978px;
    top:36px;
    width:197px;
    height:36px;
}

#u2103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:42px;
}

.u2104 {
    position:absolute;
    left:2px;
    top:10px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2105_normal {
    background-image: url('../Home_files/u2055_normal.png');
}

.u2105_container {
    position:absolute;
    left:1067px;
    top:36px;
    width:55px;
    height:36px;
}

#u2105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:42px;
}

.u2106 {
    position:absolute;
    left:2px;
    top:10px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2107 {
    position:absolute;
    left:1092px;
    top:47px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2108_normal {
    background-image: url('../Home_files/u2063_normal.png');
}

.u2108_container {
    position:absolute;
    left:1124px;
    top:36px;
    width:51px;
    height:14px;
}

#u2108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:20px;
}

.u2109 {
    position:absolute;
    left:2px;
    top:-1px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2110_normal {
    background-image: url('../Home_files/u2060_normal.png');
}

.u2110_container {
    position:absolute;
    left:1124px;
    top:52px;
    width:51px;
    height:20px;
}

#u2110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u2111 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2112 {
    position:absolute;
    left:1139px;
    top:37px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2113 {
    position:absolute;
    left:1143px;
    top:56px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2114 {
    position:absolute;
    left:992px;
    top:47px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2115 {
    position:absolute;
    left:9px;
    top:94px;
    width:125px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2116_normal {
    background-image: url('../Home_files/u2116_normal.png');
}

.u2116_container {
    position:absolute;
    left:131px;
    top:87px;
    width:133px;
    height:36px;
}

#u2116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:42px;
}

.u2117 {
    position:absolute;
    left:2px;
    top:10px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2118 {
    position:absolute;
    left:143px;
    top:97px;
    width:38px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2119_normal {
    background-image: url('../Home_files/u2119_normal.png');
}

.u2119_container {
    position:absolute;
    left:170px;
    top:92px;
    width:86px;
    height:27px;
}

#u2119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:33px;
}

.u2120 {
    position:absolute;
    left:2px;
    top:6px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2121_normal {
    background-image: url('../Home_files/u2121_normal.png');
}

.u2121_container {
    position:absolute;
    left:271px;
    top:87px;
    width:335px;
    height:36px;
}

#u2121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:42px;
}

.u2122 {
    position:absolute;
    left:2px;
    top:10px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2123 {
    position:absolute;
    left:283px;
    top:97px;
    width:38px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2124_normal {
    background-image: url('../Home_files/u2119_normal.png');
}

.u2124_container {
    position:absolute;
    left:310px;
    top:92px;
    width:86px;
    height:27px;
}

#u2124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:33px;
}

.u2125 {
    position:absolute;
    left:2px;
    top:6px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2126 {
    position:absolute;
    left:406px;
    top:92px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2127_normal {
    background-image: url('../Home_files/u2127_normal.png');
}

.u2127_container {
    position:absolute;
    left:398px;
    top:105px;
    width:66px;
    height:14px;
}

#u2127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:20px;
}

.u2128 {
    position:absolute;
    left:2px;
    top:-1px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2129 {
    position:absolute;
    left:410px;
    top:106px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2130 {
    position:absolute;
    left:474px;
    top:92px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2131_normal {
    background-image: url('../Home_files/u2127_normal.png');
}

.u2131_container {
    position:absolute;
    left:466px;
    top:105px;
    width:66px;
    height:14px;
}

#u2131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:20px;
}

.u2132 {
    position:absolute;
    left:2px;
    top:-1px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2133 {
    position:absolute;
    left:478px;
    top:106px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2134 {
    position:absolute;
    left:544px;
    top:92px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2135_normal {
    background-image: url('../Home_files/u2127_normal.png');
}

.u2135_container {
    position:absolute;
    left:534px;
    top:105px;
    width:66px;
    height:14px;
}

#u2135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:20px;
}

.u2136 {
    position:absolute;
    left:2px;
    top:-1px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2137 {
    position:absolute;
    left:543px;
    top:105px;
    width:54px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2138_normal {
    background-image: url('../Home_files/u2116_normal.png');
}

.u2138_container {
    position:absolute;
    left:614px;
    top:87px;
    width:133px;
    height:36px;
}

#u2138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:42px;
}

.u2139 {
    position:absolute;
    left:2px;
    top:10px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2140 {
    position:absolute;
    left:626px;
    top:97px;
    width:38px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2141_normal {
    background-image: url('../Home_files/u2119_normal.png');
}

.u2141_container {
    position:absolute;
    left:653px;
    top:92px;
    width:86px;
    height:27px;
}

#u2141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:33px;
}

.u2142 {
    position:absolute;
    left:2px;
    top:6px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2143_normal {
    background-image: url('../Home_files/u2116_normal.png');
}

.u2143_container {
    position:absolute;
    left:754px;
    top:87px;
    width:133px;
    height:36px;
}

#u2143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:42px;
}

.u2144 {
    position:absolute;
    left:2px;
    top:10px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2145 {
    position:absolute;
    left:766px;
    top:97px;
    width:38px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2146_normal {
    background-image: url('../Home_files/u2119_normal.png');
}

.u2146_container {
    position:absolute;
    left:793px;
    top:92px;
    width:86px;
    height:27px;
}

#u2146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:33px;
}

.u2147 {
    position:absolute;
    left:2px;
    top:6px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2148_normal {
    background-image: url('../Home_files/u2116_normal.png');
}

.u2148_container {
    position:absolute;
    left:896px;
    top:87px;
    width:133px;
    height:36px;
}

#u2148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:42px;
}

.u2149 {
    position:absolute;
    left:2px;
    top:10px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2150 {
    position:absolute;
    left:904px;
    top:97px;
    width:38px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2151_normal {
    background-image: url('../Home_files/u2119_normal.png');
}

.u2151_container {
    position:absolute;
    left:935px;
    top:92px;
    width:86px;
    height:27px;
}

#u2151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:33px;
}

.u2152 {
    position:absolute;
    left:2px;
    top:6px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2153_normal {
    background-image: url('../Home_files/u2153_normal.png');
}

.u2153_container {
    position:absolute;
    left:1037px;
    top:87px;
    width:51px;
    height:16px;
}

#u2153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:22px;
}

.u2154 {
    position:absolute;
    left:2px;
    top:0px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2155 {
    position:absolute;
    left:1046px;
    top:88px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2156_normal {
    background-image: url('../Home_files/u2153_normal.png');
}

.u2156_container {
    position:absolute;
    left:1037px;
    top:106px;
    width:51px;
    height:16px;
}

#u2156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:22px;
}

.u2157 {
    position:absolute;
    left:2px;
    top:0px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2158 {
    position:absolute;
    left:1041px;
    top:107px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2159_normal {
    background-image: url('../Home_files/u2159_normal.png');
}

.u2159_container {
    position:absolute;
    left:1088px;
    top:87px;
    width:132px;
    height:16px;
}

#u2159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:22px;
}

.u2160 {
    position:absolute;
    left:2px;
    top:0px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2161_normal {
    background-image: url('../Home_files/u2161_normal.png');
}

.u2161_container {
    position:absolute;
    left:1088px;
    top:106px;
    width:132px;
    height:16px;
}

#u2161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:22px;
}

.u2162 {
    position:absolute;
    left:2px;
    top:0px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2163_normal {
    background-image: url('../Home_files/u2163_normal.png');
}

.u2163_container {
    position:absolute;
    left:1088px;
    top:106px;
    width:74px;
    height:16px;
}

#u2163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:22px;
}

.u2164 {
    position:absolute;
    left:2px;
    top:0px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2165 {
    position:absolute;
    left:1113px;
    top:107px;
    width:29px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2166_normal {
    background-image: url('../Home_files/u2166_normal.png');
}

.u2166_container {
    position:absolute;
    left:1220px;
    top:106px;
    width:45px;
    height:16px;
}

#u2166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:22px;
}

.u2167 {
    position:absolute;
    left:2px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2168 {
    position:absolute;
    left:1235px;
    top:108px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2169_normal {
    background-image: url('../Home_files/u2166_normal.png');
}

.u2169_container {
    position:absolute;
    left:1220px;
    top:87px;
    width:45px;
    height:16px;
}

#u2169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:22px;
}

.u2170 {
    position:absolute;
    left:2px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2171 {
    position:absolute;
    left:1228px;
    top:89px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2172_normal {
    background-image: url('../Home_files/u2172_normal.png');
}

.u2172_container {
    position:absolute;
    left:1088px;
    top:87px;
    width:51px;
    height:16px;
}

#u2172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:22px;
}

.u2173 {
    position:absolute;
    left:2px;
    top:0px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2174 {
    position:absolute;
    left:1106px;
    top:89px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2175_normal {
    background-image: url('../Home_files/u2175_normal.png');
}

.u2175_container {
    position:absolute;
    left:66px;
    top:148px;
    width:5px;
    height:12px;
}

#u2175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:18px;
}

.u2176 {
    position:absolute;
    left:2px;
    top:-2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2177_normal {
    background-image: url('../Home_files/u2177_normal.png');
}

.u2177_container {
    position:absolute;
    left:15px;
    top:231px;
    width:24px;
    height:24px;
}

#u2177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2178 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2179_normal {
    background-image: url('../Home_files/u2179_normal.png');
}

.u2179_container {
    position:absolute;
    left:15px;
    top:268px;
    width:24px;
    height:24px;
}

#u2179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2180 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2181_normal {
    background-image: url('../Home_files/u2181_normal.png');
}

.u2181_container {
    position:absolute;
    left:15px;
    top:306px;
    width:24px;
    height:24px;
}

#u2181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2182 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2183_normal {
    background-image: url('../Home_files/u2183_normal.png');
}

.u2183_container {
    position:absolute;
    left:15px;
    top:344px;
    width:24px;
    height:24px;
}

#u2183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2184 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2185 {
    position:absolute;
    left:0px;
    top:141px;
    width:229px;
    height:1201px;
    overflow:hidden;
}

#pd0u2185 {
    position:absolute;
    left:0px;
    top:0px;
    width:229px;
    height:1201px;
    
}

.u2186_normal {
    background-image: url('../Home_files/u2186_normal.png');
}

.u2186_container {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:1200px;
}

#u2186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:1206px;
}

.u2187 {
    position:absolute;
    left:2px;
    top:592px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2188 {
    position:absolute;
    left:49px;
    top:56px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2189_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2189_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2189_container {
    position:absolute;
    left:58px;
    top:81px;
    width:97px;
    height:24px;
}

#u2189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2190 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2191 {
    position:absolute;
    left:49px;
    top:85px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2192 {
    position:absolute;
    left:49px;
    top:134px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2193_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2193_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2193_container {
    position:absolute;
    left:58px;
    top:161px;
    width:97px;
    height:24px;
}

#u2193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2194 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2195 {
    position:absolute;
    left:49px;
    top:165px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2196_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2196_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2196_container {
    position:absolute;
    left:58px;
    top:188px;
    width:97px;
    height:24px;
}

#u2196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2197 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2198 {
    position:absolute;
    left:49px;
    top:192px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2199_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2199_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2199_container {
    position:absolute;
    left:58px;
    top:216px;
    width:97px;
    height:24px;
}

#u2199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2200 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2201 {
    position:absolute;
    left:49px;
    top:220px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2202_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2202_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2202_container {
    position:absolute;
    left:58px;
    top:243px;
    width:97px;
    height:24px;
}

#u2202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2203 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2204 {
    position:absolute;
    left:49px;
    top:247px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2205_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2205_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2205_container {
    position:absolute;
    left:58px;
    top:269px;
    width:97px;
    height:24px;
}

#u2205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2206 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2207 {
    position:absolute;
    left:49px;
    top:273px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2208_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2208_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2208_container {
    position:absolute;
    left:58px;
    top:296px;
    width:97px;
    height:24px;
}

#u2208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2209 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2210 {
    position:absolute;
    left:49px;
    top:300px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2211 {
    position:absolute;
    left:49px;
    top:341px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2212_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2212_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2212_container {
    position:absolute;
    left:58px;
    top:368px;
    width:97px;
    height:24px;
}

#u2212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2213 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2214 {
    position:absolute;
    left:49px;
    top:372px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2215_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2215_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2215_container {
    position:absolute;
    left:58px;
    top:395px;
    width:97px;
    height:24px;
}

#u2215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2216 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2217 {
    position:absolute;
    left:49px;
    top:399px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2218_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2218_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2218_container {
    position:absolute;
    left:58px;
    top:423px;
    width:97px;
    height:24px;
}

#u2218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2219 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2220 {
    position:absolute;
    left:49px;
    top:427px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2221_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2221_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2221_container {
    position:absolute;
    left:58px;
    top:450px;
    width:97px;
    height:24px;
}

#u2221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:30px;
}

.u2222 {
    position:absolute;
    left:2px;
    top:4px;
    width:93px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2223 {
    position:absolute;
    left:49px;
    top:454px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2224 {
    position:absolute;
    left:52px;
    top:499px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2225_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2225_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2225_container {
    position:absolute;
    left:61px;
    top:526px;
    width:121px;
    height:24px;
}

#u2225_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:30px;
}

.u2226 {
    position:absolute;
    left:2px;
    top:4px;
    width:117px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2227 {
    position:absolute;
    left:52px;
    top:530px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2228_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2228_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2228_container {
    position:absolute;
    left:61px;
    top:553px;
    width:106px;
    height:24px;
}

#u2228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:30px;
}

.u2229 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2230 {
    position:absolute;
    left:52px;
    top:557px;
    width:17px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2231_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2231_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2231_container {
    position:absolute;
    left:52px;
    top:598px;
    width:106px;
    height:24px;
}

#u2231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:30px;
}

.u2232 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2233_normal {
    background-image: url('../Home_files/u2038_normal.png');
}

.u2233_container {
    position:absolute;
    left:15px;
    top:52px;
    width:24px;
    height:24px;
}

#u2233_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2234 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2235_normal {
    background-image: url('../Home_files/u2235_normal.png');
}

.u2235_container {
    position:absolute;
    left:0px;
    top:4px;
    width:197px;
    height:31px;
}

#u2235_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:37px;
}

.u2236 {
    position:absolute;
    left:2px;
    top:8px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2237 {
    position:absolute;
    left:16px;
    top:13px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2238_normal {
    background-image: url('../Home_files/u2042_normal.png');
}

.u2238_container {
    position:absolute;
    left:198px;
    top:4px;
    width:16px;
    height:19px;
}

#u2238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:25px;
}

.u2239 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2240_normal {
    background-image: url('../Home_files/u2240_normal.png');
}

.u2240_container {
    position:absolute;
    left:202px;
    top:7px;
    width:5px;
    height:12px;
}

#u2240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:18px;
}

.u2241 {
    position:absolute;
    left:2px;
    top:-2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2242_normal {
    background-image: url('../Home_files/u2177_normal.png');
}

.u2242_container {
    position:absolute;
    left:15px;
    top:131px;
    width:24px;
    height:24px;
}

#u2242_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2243 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2244_normal {
    background-image: url('../Home_files/u2179_normal.png');
}

.u2244_container {
    position:absolute;
    left:15px;
    top:335px;
    width:24px;
    height:24px;
}

#u2244_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2245 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2246_normal {
    background-image: url('../Home_files/u2181_normal.png');
}

.u2246_container {
    position:absolute;
    left:15px;
    top:495px;
    width:24px;
    height:24px;
}

#u2246_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2247 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2248_normal {
    background-image: url('../Home_files/u2183_normal.png');
}

.u2248_container {
    position:absolute;
    left:15px;
    top:598px;
    width:24px;
    height:24px;
}

#u2248_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u2249 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2250 {
    position:absolute;
    left:198px;
    top:4px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
}

#u2251 {
    position:absolute;
    left:60px;
    top:145px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
}

#u2252 {
    position:absolute;
    left:0px;
    top:31px;
    width:1281px;
    height:110px;
    overflow:hidden;
}

#pd0u2252 {
    position:absolute;
    left:0px;
    top:0px;
    width:1281px;
    height:110px;
    
}

.u2253_normal {
    background-image: url('../Home_files/u2253_normal.png');
}

.u2253_container {
    position:absolute;
    left:-8px;
    top:-8px;
    width:1305px;
    height:128px;
}

#u2253_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1311px;
    height:134px;
}

.u2254 {
    position:absolute;
    left:2px;
    top:56px;
    width:1301px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2255_normal {
    background-image: url('../Home_files/u2028_normal.png');
}

.u2255_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:11px;
}

#u2255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1286px;
    height:17px;
}

.u2256 {
    position:absolute;
    left:2px;
    top:-2px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2257_normal {
    background-image: url('../Home_files/u2044_normal.png');
}

.u2257_container {
    position:absolute;
    left:628px;
    top:3px;
    width:12px;
    height:5px;
}

#u2257_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:11px;
}

.u2258 {
    position:absolute;
    left:2px;
    top:-6px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2259 {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:11px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
}

#u2260 {
    position:absolute;
    left:0px;
    top:129px;
    width:1280px;
    height:10px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
}

