@{
    Layout = null;
}
<head>
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
</head>
<div class="tab_container">
    <div class="company_images">
        <img src="@Url.Content("~/Content/images/company.jpg")" width="660" height="204">
    </div>
    <div class="box_shadow">
    </div>
    <div class="company_timeline">
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>2011</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    獨步全球發表平板電腦真人互動學習系統TutorMobile，開啟行動學習紀元</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    全球雲端運籌中心正式落成</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    新浪網 「十大網路教育機構」、「最具優質外語教育服務機構」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    搜狐網「中國遠程教育機構十大品牌」、「中國品牌外語培訓機構20強」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    新華網「十大影響力品牌外語教育機構」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>2010</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    APEC中國企業價值榜「年度最具成長潛力企業」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    網易金翼獎 「十大外語培訓品牌」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    「CloudMeet雲端互動系統」再獲「傑出資訊應用暨產品獎」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    CEO楊正大博士受邀擔任二岸華人領袖高峰會與談嘉賓</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    CEO楊正大博士受邀擔任北京人民大學商學院60周年院慶論壇嘉賓</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    啟動永晝無休365天24h不打烊真人互動學習服務</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    提供免費線上英文講堂，開啟全新學習型態</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    成立TutorKTV全球線上娛樂平台 & TutorYOGA全球私人瑜珈平台</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    成立TutorGroup控股公司</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>2009</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    與台灣大學合作成立全球中文學習網NTutorMing，開創產學界合作先例</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    成立VIPABC中國高端英語學習平台」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>
                    2008</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    CEO楊正大獲總統親自頒發「傑出資訊人才獎」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    經濟部e-21 「十大金網優質獎」
                </p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    成立青少年英語學習平台TutorABCJr</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    成立全球中文學習平台TutorMing
                </p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>
                    2007</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    行政院長頒發「傑出資訊應用暨產品獎」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>
                    2006</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    獲ISO 9001國際品質認證</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>
                    2005</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    DCGS「動態課程生成系統」獲發明專利</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    經濟部數位學習「創新應用特優獎」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    經濟部「學習網最佳案例優良獎」</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    全球營運暨教學中心成立，完成教學資源規模化</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point">
                </div>
            </div>
            <div class="company_timeline_tag">
                <p>
                    2004</p>
            </div>
        </div>
        <div class="company_timeline_row">
            <div class="company_timeline_box">
                <div class="company_timeline_line">
                </div>
                <div class="company_timeline_point_b">
                </div>
            </div>
            <div class="company_timeline_text">
                <p>
                    推出線上數位學習平台TutorABC，麥奇教育集團成立</p>
            </div>
        </div>
    </div>
</div>
