@charset "utf-8";
/* CSS Document 130826*/
.RightSide h3.title{ background:url(../images/universal/ico_titleArrow.jpg) no-repeat left center; padding-left:10px; font-size:15px; font-weight:bold; margin-bottom:20px;}
.showHideSwitch{ border:1px solid #d3d3d3; font-size:13px; padding:5px 2px; text-align:center; background-color:#f2f2f2;}
.showHideSwitch a{ text-decoration:underline;}