
.panel {
	width: 200px;
	height: 200px;

	color: white;
	background: red;

	transition:all .3s ease-in-out;
	perspective-origin: 50% 100px;

	-webkit-transform: rotateX( 45deg );
	 -moz-transform: rotateX( 45deg );
	   -o-transform: rotateX( 45deg );
		  transform: rotateX( 45deg );
}