@{
    Layout = null;
}
<head>
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
</head>
<div class="tab_container">
    <div class="company_images">
        <img src="@Url.Content("~/Content/images/company.jpg")" width="660" height="204">
    </div>
    <div class="box_shadow">
    </div>
    <div class="company_timeline">
         <div  class="company_timeline_row">
               
               
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2012</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                            中国教育盛典「2012最受社会认可网络教育机构」<br>
                            年度教育总评榜「2012中国最具品牌价值外语机构」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                            荣膺「2012《红鲱鱼》全球创新百强」<br>
                                        VIPABC客服团队入驻「上海客服旗舰中心」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>荣膺「2012《红鲱鱼》亚洲创新百强」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>VIPABC第一家体验中心于北京CBD国贸商业区正式成立运营</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                            TutorGroup获启明创投注资1500万美元
                            首推移动学习软件「移动词汇通」，<br>
                            荣登IPHONE APP教育排行榜类第一名</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                            获评国家商务部和国资委信评机构AAA最高信用评级
                            通过第三方“360绿色网站”安全资质认证</p></div>
                        </div>
                        
               
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2011</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>2011教育年度总评榜「中国最具价值培训品牌」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>2011中国教育盛典「十大网络教育机构」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>TutorMobile 移动学习系统荣获资讯产品最高荣誉「杰出资讯应用暨产品奖」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>北京青年报及北京传媒等共同评选为 「2011年度金口碑外语培训品牌教育机构」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          独步全球发表平板电脑真人互动学习系统TutorMobile</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          获聘《中国远程教育》杂志社常务理事单位</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          全球云端运筹中心正式落成</p></div>
                        </div>
                        
                        
                        
                        <div  class="company_timeline_row">
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2010</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>荣膺网易金翼奖“年度十大外语品牌</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>APEC峰会-中国企业价值榜 "年度最具成长潜力企业"</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>新华网「十大影响力品牌外语教育机构」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>教育年度总评榜「中国远程教育机构十大品牌」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>中国教育盛典「最具优质外语教育服务机构」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                            CEO 杨正大博士受邀担任「人民大学商学院」
                            60周年院庆论坛嘉宾</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          CEO 杨正大博士受邀「华人领袖高峰会」与谈
                          「云计算的实践者」</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>发表全球首创永昼无休365天24h小时不打烊学习服务</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>成立在线大讲堂，开启全新学习型态</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>启动TutorKTV全球在线娱乐平台及TutorYOGA全球私人瑜伽平台</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          上海复旦大学与台大EMBA，透过VIPABC的协办
                          举办联合招生说明会</p></div>
                        </div>
                       
                        
                        
                        
                        
                        <div  class="company_timeline_row">
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2009</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>成立高端英语在线学习平台</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          与权威学术机构合作成立全球华语学习网NTutorMing， <br>开创产学界合作先例</p></div>
                        </div>
                        
                        
                        <div  class="company_timeline_row">
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2008</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>点燃公益之火-提供企业资源 照亮偏远学校学习路</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          成立全球中文学习平台TutorMing「明言网」发表上市记者会</p></div>
                        </div>
                        
                        
                        
                        <div  class="company_timeline_row">
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2007</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>
                          发表E-Learning 2.0，彻底实现教育服务化让学习者决定一切</p></div>
                        </div>
                        
                        
                        <div  class="company_timeline_row">
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2006</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>TutorGroup教育集团荣获ISO 9001国际质量认证</p></div>
                        </div>
                        
                        
                        <div  class="company_timeline_row">
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2005</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>荣获在线学习类「创新应用奖」及「学习服务奖」优等奖</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>DCGS动态课程生成系统获颁国家发明专利</p></div>
                        </div>
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>全球营运暨教研中心成立，完成教学资源规模化</p></div>
                        </div>
                        
                        
                        
                        <div  class="company_timeline_row">
                        <div  class="company_timeline_box">
                        <div  class="company_timeline_line"></div>
                        <div  class="company_timeline_point"></div>
                        </div>
                        <div  class="company_timeline_tag"><p>2004</p></div>
                        </div>
                        
                        <div  class="company_timeline_row">
                         <div  class="company_timeline_box"><div  class="company_timeline_line"></div><div  class="company_timeline_point_b"></div></div>
                        <div  class="company_timeline_text"><p>TutorGroup教育集团成立，推出在线学习平台</p></div>
                        </div>
        </div>
    </div>
</div>
