body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../1-2、預訂_取消課程-一對多_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:254px;
    top:114px;
    width:736px;
    height:772px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:736px;
    height:772px;
}

.u1 {
    position:absolute;
    left:2px;
    top:378px;
    width:732px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../1-2、預訂_取消課程-一對多_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:269px;
    top:122px;
    width:710px;
    height:90px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:96px;
}

.u3 {
    position:absolute;
    left:2px;
    top:37px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:287px;
    top:140px;
    width:500px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:496px;
    top:139px;
    width:187px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../1-2、預訂_取消課程-一對多_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1511px;
    height:106px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1511px;
    height:106px;
}

.u7 {
    position:absolute;
    left:2px;
    top:45px;
    width:1507px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../1-2、預訂_取消課程-一對多_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:1000px;
    top:122px;
    width:206px;
    height:757px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:206px;
    height:757px;
}

.u9 {
    position:absolute;
    left:2px;
    top:370px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

