body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:989px;
    top:26px;
    width:57px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../Exam_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:128px;
    top:0px;
    width:170px;
    height:55px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:55px;
}

.u2 {
    position:absolute;
    left:2px;
    top:20px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_menu {
    background-image: url('../Exam_files/u3_menu.png');
}

.u3_menu {
    position:absolute;
    left:295px;
    top:-3px;
    width:519px;
    height:59px;
}

#u3_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:516px;
    height:56px;
}

#u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:515px;
    height:55px
}

.u5_normal {
    background-image: url('../Exam_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:50px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:56px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:166px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Exam_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:170px;
    top:0px;
    width:170px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:56px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:166px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Exam_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:340px;
    top:0px;
    width:170px;
    height:50px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:56px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:166px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_menu {
    background-image: url('../Exam_files/u11_menu.png');
}

.u11_menu {
    position:absolute;
    left:-3px;
    top:47px;
    width:179px;
    height:109px;
}

#u11_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:106px;
}

#u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:105px
}

.u13_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:20px;
    width:170px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:40px;
    width:170px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:60px;
    width:170px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:80px;
    width:170px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_menu {
    background-image: url('../Exam_files/u23_menu.png');
}

.u23_menu {
    position:absolute;
    left:337px;
    top:47px;
    width:179px;
    height:69px;
}

#u23_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:66px;
}

#u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:65px
}

.u25_normal {
    background-image: url('../Exam_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Exam_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:20px;
    width:170px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Exam_files/u25_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:40px;
    width:170px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_menu {
    background-image: url('../Exam_files/u31_menu.png');
}

.u31_menu {
    position:absolute;
    left:167px;
    top:47px;
    width:179px;
    height:109px;
}

#u31_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:106px;
}

#u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:105px
}

.u33_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:20px;
    width:170px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:40px;
    width:170px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:60px;
    width:170px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Exam_files/u13_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:80px;
    width:170px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Exam_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:1046px;
    top:10px;
    width:122px;
    height:45px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:45px;
}

.u44 {
    position:absolute;
    left:2px;
    top:14px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Exam_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:128px;
    top:243px;
    width:257px;
    height:215px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:221px;
}

.u46 {
    position:absolute;
    left:2px;
    top:100px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../Exam_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u47 {
    position:absolute;
    left:129px;
    top:268px;
    width:255px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:133px;
    top:252px;
    width:245px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:141px;
    top:280px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:140px;
    top:315px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:140px;
    top:350px;
    width:231px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:140px;
    top:382px;
    width:231px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:141px;
    top:414px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54_normal {
    background-image: url('../Exam_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:128px;
    top:58px;
    width:1040px;
    height:175px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1046px;
    height:181px;
}

.u55 {
    position:absolute;
    left:2px;
    top:76px;
    width:1036px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Exam_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:128px;
    top:468px;
    width:257px;
    height:80px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:86px;
}

.u57 {
    position:absolute;
    left:2px;
    top:32px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:141px;
    top:477px;
    width:230px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../Exam_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:245px;
    height:3px;
}

.u59 {
    position:absolute;
    left:133px;
    top:501px;
    width:245px;
    height:10px;
    
}

.u60 {
    position:absolute;
    left:141px;
    top:516px;
    width:237px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Exam_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:128px;
    top:558px;
    width:257px;
    height:55px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:61px;
}

.u62 {
    position:absolute;
    left:2px;
    top:16px;
    width:253px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Exam_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:128px;
    top:623px;
    width:257px;
    height:55px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:61px;
}

.u64 {
    position:absolute;
    left:2px;
    top:16px;
    width:253px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Exam_files/u61_normal.png');
}

.u65_container {
    position:absolute;
    left:128px;
    top:688px;
    width:257px;
    height:55px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:61px;
}

.u66 {
    position:absolute;
    left:2px;
    top:16px;
    width:253px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Exam_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:814px;
    top:243px;
    width:130px;
    height:35px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u68 {
    position:absolute;
    left:2px;
    top:8px;
    width:126px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:1253px;
    top:1579px;
    width:110px;
    height:24px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:1373px;
    top:1414px;
    width:110px;
    height:189px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_normal {
    background-image: url('../Exam_files/u67_normal.png');
}

.u71_container {
    position:absolute;
    left:534px;
    top:243px;
    width:130px;
    height:35px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u72 {
    position:absolute;
    left:2px;
    top:8px;
    width:126px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Exam_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:394px;
    top:243px;
    width:130px;
    height:35px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u74 {
    position:absolute;
    left:2px;
    top:8px;
    width:126px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Exam_files/u67_normal.png');
}

.u75_container {
    position:absolute;
    left:674px;
    top:243px;
    width:130px;
    height:35px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u76 {
    position:absolute;
    left:2px;
    top:8px;
    width:126px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Exam_files/u67_normal.png');
}

.u77_container {
    position:absolute;
    left:954px;
    top:243px;
    width:130px;
    height:35px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u78 {
    position:absolute;
    left:2px;
    top:8px;
    width:126px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Exam_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:395px;
    top:292px;
    width:773px;
    height:488px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:779px;
    height:494px;
}

.u80 {
    position:absolute;
    left:2px;
    top:12px;
    width:769px;
    height:464px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Exam_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:456px;
    top:790px;
    width:652px;
    height:459px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:652px;
    height:459px;
}

.u82 {
    position:absolute;
    left:2px;
    top:222px;
    width:648px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Exam_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:394px;
    top:1259px;
    width:774px;
    height:329px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:780px;
    height:335px;
}

.u84 {
    position:absolute;
    left:2px;
    top:4px;
    width:770px;
    height:320px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Exam_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:396px;
    top:1386px;
    width:554px;
    height:74px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:554px;
    height:74px;
}

.u86 {
    position:absolute;
    left:2px;
    top:29px;
    width:550px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Exam_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:396px;
    top:1496px;
    width:552px;
    height:92px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:552px;
    height:92px;
}

.u88 {
    position:absolute;
    left:2px;
    top:38px;
    width:548px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

