@model NewVIPABC.Models.LoginInfo
<head>
    <script type="text/javascript">
        //check 帳號是否存在
        function showErrorMsg(p_score, p_email_addr, p_divId) {
            var get_email_addr = document.getElementById(p_email_addr).value;
            var strPostData = "get_email_addr=" + get_email_addr + "&get_login_password=";
            aurl = "http://192.168.101.73:91/program/member/ajax_member_login.asp?get_score=" + p_score; //call 的頁面
            //$.getJSON(aurl + strPostData + '&format=json&jsoncallback=?', doCallBack);
            jQuery.support.cors = true; //允许跨域调用AJax
            $.ajax({
                type: "Post",
                cache: false,
                url: aurl,
                data: strPostData,
                success: function (msg) {
                    //                    alert("AJAX 成功"+unescape(msg));
                    //                    alert(msg);
                    if (msg == "success") {
                        callSendMailPage(p_score, get_email_addr);
                    } else {
                        alert(msg);
                    }

                },
                error: function () {
                    alert("AJAX 失敗");
                }
            });
            //return false;
        }

        //呼叫忘記密碼、認諳
        function callSendMailPage(p_score, get_email_addr) {

            var strPostData = "get_email_addr=" + get_email_addr;
            alert("sdfsdf");
            if (p_score == "passwd") {
                aurl = "http://192.168.101.73:91/program/member/member_forget_password_exe.asp?get_score=" + p_score; //call 的頁面		密碼信
            }
            else {
                aurl = "http://192.168.101.73:91/program/member/member_send_authenticate_exe.asp?get_score=" + p_score; //call 的頁面  	認證信
            }
            jQuery.support.cors = true; //允许跨域调用AJax
            $.ajax({
                type: "POST",
                cache: false,
                url: aurl,
                data: strPostData,
                success: function (msg) {
//                    if (p_score == "passwd") {
//                        
//                        if (msg == "success") {
//                            alert("您的密码已寄至您的电子邮箱"); //您的密码已寄至您的电子邮箱
//                        }
//                        else {
//                            alert(msg);
//                        }
//                    } else {
//                        alert(msg);
//                        if (msg == "success") {
//                            alert('您的认证信已寄至您的电子邮箱');
//                        }
//                        else {
//                            alert(msg);
//                        }
//                    }
                },
                error: function () {
                    alert("AJAX 失敗");

                }
            });
        }
    </script>
</head>
<div class="fixed_box">
    <div class="fixed_box_960">
        <div class="registration_form">
            <img src="@Url.Content("~/Content/images/reg_banner.png")" width="268" height="316">
        </div>
    </div>
</div>
<div class="content">
    <div class="box_960">
        <div class="box_660 color_333">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")">Home</a><span> / </span><a href="@Url.Action("Login", "Login")">
                    会员登录</a><span> / </span>忘记密码</div>
            <div style="position: relative; float: left; width: 660px; height: 500px; margin-top: 50px;">
                <h2 style="color: #666;">
                    忘记密码</h2>
                <div class="box_shadow" style="background-position: -80px 0px;">
                </div>
                <h4 style="color: #666;">
                    请输入注册时的电子邮件地址,我们会将密码发送至您的电子信箱</h4>
                <input id="mail" name="mail" class="reg_field" type="text" value="请填入您注册时的电子邮件" onfocus="if(this.value=='请填入您注册时的电子邮件'){this.value='';this.className='reg_field';}else{this.className='reg_field_black';}"
                    onblur="if(this.value==''){this.value='请填入您注册时的电子邮件';this.className='reg_field';}else{this.className='reg_field_black';}"
                    style="width: 400px;" />
                <div style="position: relative; float: right; width: 100%; margin: 0 auto;">
                    <div class="y_btn" style="position: relative; float: left; margin: 10px auto;" onclick="return showErrorMsg('passwd','mail','div_paw_msg');">
                        <a class="btn_text color_fff" href="#">
                            <div>
                                发送密码</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--ajax錯誤訊息-->
        <div id="div_paw_msg" style="display: none">
            <div class="oopsbox">
                <div class="oops" id="div_paw_msg_show">
                </div>
            </div>
        </div>
        <!--ajax錯誤訊息-->
        <div class="clear">
        </div>
    </div>
</div>
