h1{	font-size:20px;	line-height:28px; color:#333333;}
h2{	font-size:18px;	line-height:26x; color:#333333;}
h3{	font-size:16px;	line-height:24px; padding-top:15px;	padding-bottom:-2px;}
h4{	font-size: 14px; line-height: 24px;}
h4 a{color:#666;	font-size: 14px; line-height: 24px;  }
h4 a:hover{color:#999;	font-size: 14px; line-height: 24px;  }
h5{	font-size: 12px;	 line-height: 16px;}
h5 a{color:#666;	font-size: 12px;	 line-height: 16px;}
h5 a:hover{color:#999;	font-size: 12px;	 line-height: 16px; }
.fontSize12 { font-size: 12px;line-height:1.5; }
.fontSize13 { font-size: 13px;line-height:1.5; }
.fontSize14 { font-size: 14px;line-height:1.5; }
.fontSize16 { font-size: 16px;line-height:1.5; }
.fontSize18 { font-size: 18px;line-height:1.5; }
.fontSize20 { font-size: 20px;line-height:1.5; }
.fontSize22 { font-size: 22px;line-height:1.5; }
.fontSize24 { font-size: 24px;line-height:1.5; }
.fontSize26 { font-size: 26px;line-height:1.5; }
.fontSize28 { font-size: 28px;line-height:1.5; }
.fontSize30 { font-size: 30px;line-height:1.5; }
.fontSize32 { font-size: 32px;line-height:1.5; }
.fontSize34 { font-size: 34px;line-height:1.5; }
.fontSize36 { font-size: 36px;line-height:1.5; }
.fontSize38 { font-size: 38px;line-height:1.5; }
.fontSize40 { font-size: 40px;line-height:1.5; }
.fontSize42 { font-size: 42px;line-height:1.5; }
.fontSize44 { font-size: 44px;line-height:1.5; }
.fontSize46 { font-size: 46px;line-height:1.5; }
.fontSize48 { font-size: 48px;line-height:1.5; }
.fontSize50 { font-size: 50px;line-height:1.5; }
.lineHeight12 { line-height:12px; vertical-align: middle;}
.lineHeight14 { line-height:14px; vertical-align: middle;}
.lineHeight16 { line-height:16px; vertical-align: middle;}
.lineHeight18 { line-height:18px; vertical-align: middle;}
.lineHeight20 { line-height:20px; vertical-align: middle;}
.lineHeight22 { line-height:22px; vertical-align: middle;}
.lineHeight24 { line-height:24px; vertical-align: middle;}
.lineHeight26 { line-height:26px; vertical-align: middle;}
.lineHeight28 { line-height:28px; vertical-align: middle;}
.lineHeight30 { line-height:30px; vertical-align: middle;}
.lineHeight32 { line-height:32px; vertical-align: middle;}
.lineHeight34 { line-height:34px; vertical-align: middle;}
.lineHeight36 { line-height:36px; vertical-align: middle;}
.lineHeight38 { line-height:38px; vertical-align: middle;}
.lineHeight40 { line-height:40px; vertical-align: middle;}
.lineHeight42 { line-height:42px; vertical-align: middle;}
.lineHeight44 { line-height:44px; vertical-align: middle;}
.lineHeight46 { line-height:46px; vertical-align: middle;}
.lineHeight48 { line-height:48px; vertical-align: middle;}
.lineHeight50 { line-height:50px; vertical-align: middle;}
.lineHeight55 { line-height:55px; vertical-align: middle;}
.lineHeight60 { line-height:60px; vertical-align: middle;}

.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{ text-align:justify}

.color_red{color:#e50012;}
.color_lightRed{color:#c5a5a5;}

.color_white{color:#FFF;}
.color_black{color:#000000;}
.color_darkGray{color:#333333;}
.color_gray{color:#666666;}
.color_lightGray{color:#999999;}
.color_brown{color:#a7904b;}
.color_lightBrowwn{color:#d9d0b4;}
.color_yellow{color:fc600}

.color_fff{color:#FFF;}
.color_darkRed{color:#e60012;}
.color_orange{	color:#ff9000;}
.color_fff{color:#FFF;}
.color_333{color:#333333;}
.color_666{color:#666666;}

.bold{	font-weight:bold;}
a, a:hover,a:focus{text-decoration:none;}
.a_link, .a_link:hover {font-size: 12px;line-height:14px;vertical-align:middle;color: #666666;}
.underline{text-decoration:underline;}