body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../退費通報_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-49px;
    top:12px;
    width:1402px;
    height:1631px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1402px;
    height:1631px;
}

.u1 {
    position:absolute;
    left:2px;
    top:808px;
    width:1398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../退費通報_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:-26px;
    top:200px;
    width:1226px;
    height:1374px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1232px;
    height:1380px;
}

.u3 {
    position:absolute;
    left:2px;
    top:679px;
    width:1222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../退費通報_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:21px;
    top:158px;
    width:1229px;
    height:28px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:34px;
}

.u5 {
    position:absolute;
    left:2px;
    top:6px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:50px;
    top:164px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:158px;
    top:164px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:286px;
    top:164px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../退費通報_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1219px;
    height:5px;
}

.u9 {
    position:absolute;
    left:37px;
    top:270px;
    width:1219px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:137px;
    top:349px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../退費通報_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:93px;
    top:341px;
    width:33px;
    height:34px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:34px;
}

.u12 {
    position:absolute;
    left:2px;
    top:9px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:307px;
    top:209px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:345px;
    top:208px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:360px;
    top:209px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:407px;
    top:209px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:472px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:486px;
    top:209px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:525px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:540px;
    top:209px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:605px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:620px;
    top:209px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:659px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:763px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:778px;
    top:209px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:826px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:838px;
    top:209px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:909px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:924px;
    top:209px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1045px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:1004px;
    top:209px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:395px;
    top:208px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:270px;
    top:462px;
    width:679px;
    height:284px
}

.u34_normal {
    background-image: url('../退費通報_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:42px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:48px;
}

.u35 {
    position:absolute;
    left:2px;
    top:13px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../退費通報_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:114px;
    top:0px;
    width:560px;
    height:42px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:566px;
    height:48px;
}

.u37 {
    position:absolute;
    left:2px;
    top:13px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../退費通報_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:42px;
    width:114px;
    height:44px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:50px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../退費通報_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:114px;
    top:42px;
    width:560px;
    height:44px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:566px;
    height:50px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../退費通報_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:86px;
    width:114px;
    height:40px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:46px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../退費通報_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:114px;
    top:86px;
    width:560px;
    height:40px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:566px;
    height:46px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../退費通報_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:126px;
    width:114px;
    height:47px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:53px;
}

.u47 {
    position:absolute;
    left:2px;
    top:16px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../退費通報_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:114px;
    top:126px;
    width:560px;
    height:47px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:566px;
    height:53px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../退費通報_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:173px;
    width:114px;
    height:106px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:112px;
}

.u51 {
    position:absolute;
    left:2px;
    top:45px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../退費通報_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:114px;
    top:173px;
    width:560px;
    height:106px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:566px;
    height:112px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:16px;
    top:0px;
    width:433px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:409px;
    top:601px;
    width:125px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:564px;
    top:601px;
    width:151px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:407px;
    top:643px;
    width:507px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:500px;
    top:767px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:634px;
    top:767px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61_normal {
    background-image: url('../退費通報_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:84px;
    top:276px;
    width:1136px;
    height:45px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1142px;
    height:51px;
}

.u62 {
    position:absolute;
    left:2px;
    top:12px;
    width:1132px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../退費通報_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:252px;
    top:208px;
    width:13px;
    height:18px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:18px;
}

.u64 {
    position:absolute;
    left:2px;
    top:1px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:268px;
    top:208px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:299px;
    top:209px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../退費通報_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:18px;
    top:88px;
    width:1248px;
    height:61px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1254px;
    height:67px;
}

.u68 {
    position:absolute;
    left:2px;
    top:22px;
    width:1244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../退費通報_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:38px;
    top:94px;
    width:180px;
    height:50px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u70 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:665px;
    top:209px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

