body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../課程資訊_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-49px;
    top:12px;
    width:1402px;
    height:1631px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1402px;
    height:1631px;
}

.u1 {
    position:absolute;
    left:2px;
    top:808px;
    width:1398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../課程資訊_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:36px;
    top:196px;
    width:1226px;
    height:1374px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1232px;
    height:1380px;
}

.u3 {
    position:absolute;
    left:2px;
    top:679px;
    width:1222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../課程資訊_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:21px;
    top:158px;
    width:1229px;
    height:28px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:34px;
}

.u5 {
    position:absolute;
    left:2px;
    top:6px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:50px;
    top:164px;
    width:89px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:158px;
    top:164px;
    width:103px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:286px;
    top:164px;
    width:103px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:80px;
    top:208px;
    width:120px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:210px;
    top:209px;
    width:118px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:197px;
    top:208px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../課程資訊_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1219px;
    height:5px;
}

.u12 {
    position:absolute;
    left:37px;
    top:281px;
    width:1219px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:109px;
    top:242px;
    width:89px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:208px;
    top:243px;
    width:62px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:199px;
    top:241px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:279px;
    top:243px;
    width:62px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:270px;
    top:241px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:350px;
    top:243px;
    width:91px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:341px;
    top:242px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:447px;
    top:244px;
    width:65px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:437px;
    top:243px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:522px;
    top:244px;
    width:92px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:512px;
    top:243px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:623px;
    top:244px;
    width:65px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:608px;
    top:243px;
    width:5px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../課程資訊_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:69px;
    top:288px;
    width:1136px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1142px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:1132px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:136px;
    top:393px;
    width:375px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../課程資訊_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:92px;
    top:385px;
    width:33px;
    height:34px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:34px;
}

.u30 {
    position:absolute;
    left:2px;
    top:9px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:125px;
    top:452px;
    width:961px;
    height:821px;
    overflow:hidden;
}

#pd0u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:821px;
    
}

#u32 {
    position:absolute;
    left:0px;
    top:36px;
    width:965px;
    height:114px
}

.u33_normal {
    background-image: url('../課程資訊_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:37px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:43px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../課程資訊_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:121px;
    top:0px;
    width:103px;
    height:37px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:43px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../課程資訊_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:224px;
    top:0px;
    width:135px;
    height:37px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:43px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../課程資訊_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:359px;
    top:0px;
    width:130px;
    height:37px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:43px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../課程資訊_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:488px;
    top:0px;
    width:136px;
    height:37px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:43px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../課程資訊_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:624px;
    top:0px;
    width:116px;
    height:37px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:43px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../課程資訊_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:740px;
    top:0px;
    width:107px;
    height:37px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:43px;
}

.u46 {
    position:absolute;
    left:2px;
    top:10px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../課程資訊_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:847px;
    top:0px;
    width:113px;
    height:37px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:43px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../課程資訊_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:37px;
    width:121px;
    height:36px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:42px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../課程資訊_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:121px;
    top:37px;
    width:103px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:42px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../課程資訊_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:224px;
    top:37px;
    width:135px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:42px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../課程資訊_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:359px;
    top:37px;
    width:130px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../課程資訊_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:488px;
    top:37px;
    width:136px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:42px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../課程資訊_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:624px;
    top:37px;
    width:116px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:42px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../課程資訊_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:740px;
    top:37px;
    width:107px;
    height:36px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:42px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../課程資訊_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:847px;
    top:37px;
    width:113px;
    height:36px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:42px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../課程資訊_files/u49_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:73px;
    width:121px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../課程資訊_files/u51_normal.png');
}

.u67_container {
    position:absolute;
    left:121px;
    top:73px;
    width:103px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:42px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../課程資訊_files/u53_normal.png');
}

.u69_container {
    position:absolute;
    left:224px;
    top:73px;
    width:135px;
    height:36px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:42px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../課程資訊_files/u55_normal.png');
}

.u71_container {
    position:absolute;
    left:359px;
    top:73px;
    width:130px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../課程資訊_files/u57_normal.png');
}

.u73_container {
    position:absolute;
    left:488px;
    top:73px;
    width:136px;
    height:36px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:42px;
}

.u74 {
    position:absolute;
    left:2px;
    top:10px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../課程資訊_files/u59_normal.png');
}

.u75_container {
    position:absolute;
    left:624px;
    top:73px;
    width:116px;
    height:36px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:42px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../課程資訊_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:740px;
    top:73px;
    width:107px;
    height:36px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:42px;
}

.u78 {
    position:absolute;
    left:2px;
    top:10px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../課程資訊_files/u63_normal.png');
}

.u79_container {
    position:absolute;
    left:847px;
    top:73px;
    width:113px;
    height:36px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u81 {
    position:absolute;
    left:0px;
    top:144px;
    width:965px;
    height:41px
}

.u82_normal {
    background-image: url('../課程資訊_files/u49_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:36px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:42px;
}

.u83 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../課程資訊_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:121px;
    top:0px;
    width:366px;
    height:36px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:372px;
    height:42px;
}

.u85 {
    position:absolute;
    left:2px;
    top:10px;
    width:362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../課程資訊_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:487px;
    top:0px;
    width:138px;
    height:36px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:42px;
}

.u87 {
    position:absolute;
    left:2px;
    top:10px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../課程資訊_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:625px;
    top:0px;
    width:335px;
    height:36px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:42px;
}

.u89 {
    position:absolute;
    left:2px;
    top:10px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u90 {
    position:absolute;
    left:0px;
    top:180px;
    width:965px;
    height:43px
}

.u91_normal {
    background-image: url('../課程資訊_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:38px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:44px;
}

.u92 {
    position:absolute;
    left:2px;
    top:11px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u93 {
    position:absolute;
    left:0px;
    top:218px;
    width:965px;
    height:77px
}

.u94_normal {
    background-image: url('../課程資訊_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:36px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:42px;
}

.u95 {
    position:absolute;
    left:2px;
    top:10px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../課程資訊_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:218px;
    top:0px;
    width:259px;
    height:36px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:42px;
}

.u97 {
    position:absolute;
    left:2px;
    top:10px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../課程資訊_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:477px;
    top:0px;
    width:336px;
    height:36px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:42px;
}

.u99 {
    position:absolute;
    left:2px;
    top:10px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../課程資訊_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:813px;
    top:0px;
    width:147px;
    height:36px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:42px;
}

.u101 {
    position:absolute;
    left:2px;
    top:10px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../課程資訊_files/u94_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:36px;
    width:218px;
    height:36px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:42px;
}

.u103 {
    position:absolute;
    left:2px;
    top:10px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../課程資訊_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:218px;
    top:36px;
    width:259px;
    height:36px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:42px;
}

.u105 {
    position:absolute;
    left:2px;
    top:10px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../課程資訊_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:477px;
    top:36px;
    width:336px;
    height:36px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:42px;
}

.u107 {
    position:absolute;
    left:2px;
    top:10px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../課程資訊_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:813px;
    top:36px;
    width:147px;
    height:36px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:42px;
}

.u109 {
    position:absolute;
    left:2px;
    top:10px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../課程資訊_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:1px;
    top:292px;
    width:959px;
    height:528px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:959px;
    height:528px;
}

.u111 {
    position:absolute;
    left:2px;
    top:256px;
    width:955px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_mouseDown {
    background-image: url('../課程資訊_files/u112_mouseDown.png');
}

.u112_normal {
    background-image: url('../課程資訊_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:810px;
    top:0px;
    width:140px;
    height:26px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:32px;
}

.u113 {
    position:absolute;
    left:2px;
    top:5px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../課程資訊_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:95px;
    top:241px;
    width:13px;
    height:18px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:18px;
}

.u115 {
    position:absolute;
    left:2px;
    top:1px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../課程資訊_files/u114_normal.png');
}

.u116_container {
    position:absolute;
    left:60px;
    top:210px;
    width:13px;
    height:18px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:18px;
}

.u117 {
    position:absolute;
    left:2px;
    top:1px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../課程資訊_files/u114_normal.png');
}

.u118_container {
    position:absolute;
    left:85px;
    top:241px;
    width:13px;
    height:18px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:18px;
}

.u119 {
    position:absolute;
    left:2px;
    top:1px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:125px;
    top:452px;
    width:999px;
    height:1108px;
    overflow:hidden;
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:999px;
    height:1108px;
    
}

.u121_normal {
    background-image: url('../課程資訊_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:0px;
    width:998px;
    height:1117px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1004px;
    height:1123px;
}

.u122 {
    position:absolute;
    left:2px;
    top:550px;
    width:994px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u123 {
    position:absolute;
    left:13px;
    top:299px;
    width:965px;
    height:114px
}

.u124_normal {
    background-image: url('../課程資訊_files/u33_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:37px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:43px;
}

.u125 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../課程資訊_files/u35_normal.png');
}

.u126_container {
    position:absolute;
    left:121px;
    top:0px;
    width:103px;
    height:37px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:43px;
}

.u127 {
    position:absolute;
    left:2px;
    top:10px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../課程資訊_files/u37_normal.png');
}

.u128_container {
    position:absolute;
    left:224px;
    top:0px;
    width:135px;
    height:37px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:43px;
}

.u129 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../課程資訊_files/u39_normal.png');
}

.u130_container {
    position:absolute;
    left:359px;
    top:0px;
    width:130px;
    height:37px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:43px;
}

.u131 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../課程資訊_files/u41_normal.png');
}

.u132_container {
    position:absolute;
    left:488px;
    top:0px;
    width:136px;
    height:37px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:43px;
}

.u133 {
    position:absolute;
    left:2px;
    top:10px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../課程資訊_files/u43_normal.png');
}

.u134_container {
    position:absolute;
    left:624px;
    top:0px;
    width:116px;
    height:37px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:43px;
}

.u135 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../課程資訊_files/u45_normal.png');
}

.u136_container {
    position:absolute;
    left:740px;
    top:0px;
    width:107px;
    height:37px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:43px;
}

.u137 {
    position:absolute;
    left:2px;
    top:10px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../課程資訊_files/u47_normal.png');
}

.u138_container {
    position:absolute;
    left:847px;
    top:0px;
    width:113px;
    height:37px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:43px;
}

.u139 {
    position:absolute;
    left:2px;
    top:10px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../課程資訊_files/u49_normal.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:37px;
    width:121px;
    height:36px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:42px;
}

.u141 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../課程資訊_files/u51_normal.png');
}

.u142_container {
    position:absolute;
    left:121px;
    top:37px;
    width:103px;
    height:36px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:42px;
}

.u143 {
    position:absolute;
    left:2px;
    top:10px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../課程資訊_files/u53_normal.png');
}

.u144_container {
    position:absolute;
    left:224px;
    top:37px;
    width:135px;
    height:36px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:42px;
}

.u145 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../課程資訊_files/u55_normal.png');
}

.u146_container {
    position:absolute;
    left:359px;
    top:37px;
    width:130px;
    height:36px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u147 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../課程資訊_files/u57_normal.png');
}

.u148_container {
    position:absolute;
    left:488px;
    top:37px;
    width:136px;
    height:36px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:42px;
}

.u149 {
    position:absolute;
    left:2px;
    top:10px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../課程資訊_files/u59_normal.png');
}

.u150_container {
    position:absolute;
    left:624px;
    top:37px;
    width:116px;
    height:36px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:42px;
}

.u151 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../課程資訊_files/u61_normal.png');
}

.u152_container {
    position:absolute;
    left:740px;
    top:37px;
    width:107px;
    height:36px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:42px;
}

.u153 {
    position:absolute;
    left:2px;
    top:10px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../課程資訊_files/u63_normal.png');
}

.u154_container {
    position:absolute;
    left:847px;
    top:37px;
    width:113px;
    height:36px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:42px;
}

.u155 {
    position:absolute;
    left:2px;
    top:10px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../課程資訊_files/u49_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:73px;
    width:121px;
    height:36px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:42px;
}

.u157 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../課程資訊_files/u51_normal.png');
}

.u158_container {
    position:absolute;
    left:121px;
    top:73px;
    width:103px;
    height:36px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:42px;
}

.u159 {
    position:absolute;
    left:2px;
    top:10px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../課程資訊_files/u53_normal.png');
}

.u160_container {
    position:absolute;
    left:224px;
    top:73px;
    width:135px;
    height:36px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:42px;
}

.u161 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../課程資訊_files/u55_normal.png');
}

.u162_container {
    position:absolute;
    left:359px;
    top:73px;
    width:130px;
    height:36px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:42px;
}

.u163 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../課程資訊_files/u57_normal.png');
}

.u164_container {
    position:absolute;
    left:488px;
    top:73px;
    width:136px;
    height:36px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:42px;
}

.u165 {
    position:absolute;
    left:2px;
    top:10px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../課程資訊_files/u59_normal.png');
}

.u166_container {
    position:absolute;
    left:624px;
    top:73px;
    width:116px;
    height:36px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:42px;
}

.u167 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../課程資訊_files/u77_normal.png');
}

.u168_container {
    position:absolute;
    left:740px;
    top:73px;
    width:107px;
    height:36px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:42px;
}

.u169 {
    position:absolute;
    left:2px;
    top:10px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../課程資訊_files/u63_normal.png');
}

.u170_container {
    position:absolute;
    left:847px;
    top:73px;
    width:113px;
    height:36px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:42px;
}

.u171 {
    position:absolute;
    left:2px;
    top:10px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u172 {
    position:absolute;
    left:13px;
    top:407px;
    width:965px;
    height:41px
}

.u173_normal {
    background-image: url('../課程資訊_files/u49_normal.png');
}

.u173_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:36px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:42px;
}

.u174 {
    position:absolute;
    left:2px;
    top:10px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../課程資訊_files/u84_normal.png');
}

.u175_container {
    position:absolute;
    left:121px;
    top:0px;
    width:366px;
    height:36px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:372px;
    height:42px;
}

.u176 {
    position:absolute;
    left:2px;
    top:10px;
    width:362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../課程資訊_files/u86_normal.png');
}

.u177_container {
    position:absolute;
    left:487px;
    top:0px;
    width:138px;
    height:36px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:42px;
}

.u178 {
    position:absolute;
    left:2px;
    top:10px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../課程資訊_files/u88_normal.png');
}

.u179_container {
    position:absolute;
    left:625px;
    top:0px;
    width:335px;
    height:36px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:42px;
}

.u180 {
    position:absolute;
    left:2px;
    top:10px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u181 {
    position:absolute;
    left:13px;
    top:443px;
    width:965px;
    height:43px
}

.u182_normal {
    background-image: url('../課程資訊_files/u91_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:38px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:44px;
}

.u183 {
    position:absolute;
    left:2px;
    top:11px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u184 {
    position:absolute;
    left:13px;
    top:481px;
    width:965px;
    height:77px
}

.u185_normal {
    background-image: url('../課程資訊_files/u94_normal.png');
}

.u185_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:36px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:42px;
}

.u186 {
    position:absolute;
    left:2px;
    top:10px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../課程資訊_files/u96_normal.png');
}

.u187_container {
    position:absolute;
    left:218px;
    top:0px;
    width:259px;
    height:36px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:42px;
}

.u188 {
    position:absolute;
    left:2px;
    top:10px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../課程資訊_files/u98_normal.png');
}

.u189_container {
    position:absolute;
    left:477px;
    top:0px;
    width:336px;
    height:36px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:42px;
}

.u190 {
    position:absolute;
    left:2px;
    top:10px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../課程資訊_files/u100_normal.png');
}

.u191_container {
    position:absolute;
    left:813px;
    top:0px;
    width:147px;
    height:36px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:42px;
}

.u192 {
    position:absolute;
    left:2px;
    top:10px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../課程資訊_files/u94_normal.png');
}

.u193_container {
    position:absolute;
    left:0px;
    top:36px;
    width:218px;
    height:36px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:42px;
}

.u194 {
    position:absolute;
    left:2px;
    top:10px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../課程資訊_files/u104_normal.png');
}

.u195_container {
    position:absolute;
    left:218px;
    top:36px;
    width:259px;
    height:36px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:42px;
}

.u196 {
    position:absolute;
    left:2px;
    top:10px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../課程資訊_files/u106_normal.png');
}

.u197_container {
    position:absolute;
    left:477px;
    top:36px;
    width:336px;
    height:36px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:42px;
}

.u198 {
    position:absolute;
    left:2px;
    top:10px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../課程資訊_files/u108_normal.png');
}

.u199_container {
    position:absolute;
    left:813px;
    top:36px;
    width:147px;
    height:36px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:42px;
}

.u200 {
    position:absolute;
    left:2px;
    top:10px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../課程資訊_files/u110_normal.png');
}

.u201_container {
    position:absolute;
    left:14px;
    top:555px;
    width:959px;
    height:528px;
}

#u201_img {
    position:absolute;
    left:0px;
    top:0px;
    width:959px;
    height:528px;
}

.u202 {
    position:absolute;
    left:2px;
    top:256px;
    width:955px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_mouseDown {
    background-image: url('../課程資訊_files/u203_mouseDown.png');
}

.u203_normal {
    background-image: url('../課程資訊_files/u203_normal.png');
}

.u203_container {
    position:absolute;
    left:825px;
    top:34px;
    width:136px;
    height:26px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:32px;
}

.u204 {
    position:absolute;
    left:2px;
    top:5px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u205 {
    position:absolute;
    left:13px;
    top:72px;
    width:962px;
    height:203px
}

.u206_normal {
    background-image: url('../課程資訊_files/u206_normal.png');
}

.u206_container {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:36px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:42px;
}

.u207 {
    position:absolute;
    left:2px;
    top:10px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../課程資訊_files/u208_normal.png');
}

.u208_container {
    position:absolute;
    left:72px;
    top:0px;
    width:118px;
    height:36px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:42px;
}

.u209 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../課程資訊_files/u210_normal.png');
}

.u210_container {
    position:absolute;
    left:190px;
    top:0px;
    width:101px;
    height:36px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:42px;
}

.u211 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../課程資訊_files/u212_normal.png');
}

.u212_container {
    position:absolute;
    left:291px;
    top:0px;
    width:161px;
    height:36px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:42px;
}

.u213 {
    position:absolute;
    left:2px;
    top:10px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../課程資訊_files/u214_normal.png');
}

.u214_container {
    position:absolute;
    left:452px;
    top:0px;
    width:111px;
    height:36px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:42px;
}

.u215 {
    position:absolute;
    left:2px;
    top:10px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../課程資訊_files/u216_normal.png');
}

.u216_container {
    position:absolute;
    left:563px;
    top:0px;
    width:394px;
    height:36px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:400px;
    height:42px;
}

.u217 {
    position:absolute;
    left:2px;
    top:10px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../課程資訊_files/u218_normal.png');
}

.u218_container {
    position:absolute;
    left:0px;
    top:36px;
    width:72px;
    height:81px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:87px;
}

.u219 {
    position:absolute;
    left:2px;
    top:32px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../課程資訊_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:72px;
    top:36px;
    width:118px;
    height:81px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:87px;
}

.u221 {
    position:absolute;
    left:2px;
    top:32px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../課程資訊_files/u222_normal.png');
}

.u222_container {
    position:absolute;
    left:190px;
    top:36px;
    width:101px;
    height:81px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:87px;
}

.u223 {
    position:absolute;
    left:2px;
    top:32px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../課程資訊_files/u224_normal.png');
}

.u224_container {
    position:absolute;
    left:291px;
    top:36px;
    width:161px;
    height:81px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:87px;
}

.u225 {
    position:absolute;
    left:2px;
    top:32px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../課程資訊_files/u226_normal.png');
}

.u226_container {
    position:absolute;
    left:452px;
    top:36px;
    width:111px;
    height:81px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:87px;
}

.u227 {
    position:absolute;
    left:2px;
    top:32px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../課程資訊_files/u228_normal.png');
}

.u228_container {
    position:absolute;
    left:563px;
    top:36px;
    width:394px;
    height:81px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:400px;
    height:87px;
}

.u229 {
    position:absolute;
    left:2px;
    top:2px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../課程資訊_files/u218_normal.png');
}

.u230_container {
    position:absolute;
    left:0px;
    top:117px;
    width:72px;
    height:81px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:87px;
}

.u231 {
    position:absolute;
    left:2px;
    top:32px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../課程資訊_files/u220_normal.png');
}

.u232_container {
    position:absolute;
    left:72px;
    top:117px;
    width:118px;
    height:81px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:87px;
}

.u233 {
    position:absolute;
    left:2px;
    top:32px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_normal {
    background-image: url('../課程資訊_files/u222_normal.png');
}

.u234_container {
    position:absolute;
    left:190px;
    top:117px;
    width:101px;
    height:81px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:87px;
}

.u235 {
    position:absolute;
    left:2px;
    top:32px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../課程資訊_files/u224_normal.png');
}

.u236_container {
    position:absolute;
    left:291px;
    top:117px;
    width:161px;
    height:81px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:87px;
}

.u237 {
    position:absolute;
    left:2px;
    top:32px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../課程資訊_files/u226_normal.png');
}

.u238_container {
    position:absolute;
    left:452px;
    top:117px;
    width:111px;
    height:81px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:87px;
}

.u239 {
    position:absolute;
    left:2px;
    top:32px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_normal {
    background-image: url('../課程資訊_files/u228_normal.png');
}

.u240_container {
    position:absolute;
    left:563px;
    top:117px;
    width:394px;
    height:81px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:400px;
    height:87px;
}

.u241 {
    position:absolute;
    left:2px;
    top:2px;
    width:390px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242_normal {
    background-image: url('../課程資訊_files/u242_normal.png');
}

.u242_container {
    position:absolute;
    left:21px;
    top:87px;
    width:1248px;
    height:61px;
}

#u242_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1254px;
    height:67px;
}

.u243 {
    position:absolute;
    left:2px;
    top:22px;
    width:1244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244_normal {
    background-image: url('../課程資訊_files/u244_normal.png');
}

.u244_container {
    position:absolute;
    left:41px;
    top:91px;
    width:180px;
    height:50px;
}

#u244_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u245 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

