
/* Start Sprite Master CSS */

.list_time,.month_bg,.month_day_on,.month_today,.title_bg,.btn_b_g,.btn_b_r,.header_bg,.item_bg,.list_bg{display: inline-block;background-repeat: no-repeat;background-image: url('cssSprite_rx.png');}
.btn_b_g {
  background-image: url("btn_b_g.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3014px;
  height: 82px;
  z-index: 1;
}

.btn_b_r {
  background-image: url("btn_b_r.png");
  position: absolute;
  left: 0px;
  top: 82px;
  width: 3014px;
  height: 82px;
  z-index: 2;
}


.header_bg {
  background-image: url("header_bg.png");
  position: absolute;
  left: 0px;
  top: 164px;
  width: 208px;
  height: 91px;
  z-index: 3;
}

.item_bg {
  background-image: url("item_bg.png");
  position: absolute;
  left: 0px;
  top: 255px;
  width: 1456px;
  height: 58px;
  z-index: 4;
}


.list_bg {
  background-image: url("list_bg.png");
  position: absolute;
  left: 0px;
  top: 313px;
  width: 347px;
  height: 250px;
  z-index: 5;
}

.list_time {
  background-image: url("list_time.png");
  position: absolute;
  left: 0px;
  top: 563px;
  width: 520px;
  height: 300px;
  z-index: 6;
}

.month_bg {
  background-image: url("month_bg.png");
  position: absolute;
  left: 0px;
  top: 863px;
  width: 347px;
  height: 200px;
  z-index: 7;
}

.month_day_on {
  background-image: url("month_day_on.png");
  position: absolute;
  left: 0px;
  top: 1063px;
  width: 173px;
  height: 100px;
  z-index: 8;
}

.month_today {
  background-image: url("month_today.png");
  position: absolute;
  left: 0px;
  top: 1163px;
  width: 208px;
  height: 100px;
  z-index: 9;
}

.title_bg {
  background-image: url("title_bg.png");
  position: absolute;
  left: 0px;
  top: 1263px;
  width: 867px;
  height: 73px;
  z-index: 10;
}

/* End Sprite Master CSS */
