ㄌ@charset "utf-8";

 
/*變色改這裡-大會堂的頭*/
.main_membox .top_class {
	width: 100%;
	background:#eeeeef url(/images/images_cn/gray_back.gif) repeat-x top;
	height: 85px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c5c5c5;
	position: relative;
	
}
.main_membox .top_class h1 {
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 25px;
	color: #666000;
}
.top_class ul {margin: 0px;position: absolute;list-style-type: none;left: 10px;top: 45px;padding: 0px;}
.top_class li {
	display: inline;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d4d2d2;
}
/*變色改這裡-托益*/
.main_membox .top_class2n {width: 100%;height: 1px;border-bottom: 1px solid #c5c5c5; font-size:1px;}/*沒有資料*/
.main_membox .top_class2 { position:relative; float:left;width: 100%;height: 55px;background:#eeeeef; position: relative;}
.main_membox .top_class2 h1{position: absolute;left: 20px;top: 30px;color: #666;}
.main_membox .top_class2 h1 .num{color: #5AB000; margin: 0px 5px 0px 5px; font-weight:bold;}
.main_membox .top_class2 .time{position: absolute;right: 20px;top: 23px;color: #5AB000;font-size: 25px;font-weight: bold;}
.main_membox .top_class2 .date{position: absolute;left: 20px;top: 23px;color: #666;font-size: 24px;font-weight: bold;}
.main_membox .top_class2 .date_btn{position: absolute;left: 150px;top:35px;}
.main_membox .top_class2 .date_btn a{float:left;margin:0 3px 0 3px;}
.main_membox .top_class2 .rightDate{position: absolute;right: 20px;top: 25px;}
.main_membox .top_class2 .right{position: absolute;right:130px;top: 30px;top: 30px \9;}
.main_membox .top_class2 .right a{color:#5AB000;}
.main_membox .top_class2 .right a:hover{color:#5AB000;}

/*預訂課程Plan-B*/
.main_membox .top_class6      {padding:20px 20px 15px 0px;*padding:20px 20px 30px 20px; color:#666; font-size:13px;
                             }
.main_membox .top_class6 h1   {color: #666; line-height:18px;}
.main_membox .top_class6 h2   {color: rgb(255, 0, 0); margin:15px 0 0px 0; float:left; }
.main_membox .top_class6 h3   {margin:15px 0 0px 0;line-height:20px; float:right; }
.main_membox .top_class6 .org {color:#ed7401; margin:0 2px 0 2px;}
.main_membox .top_class6 .ps  {color: rgb(255, 0, 0); font-weight:bold; text-decoration:underline; margin:0 0 0 3px;}
.main_membox .top_class6 img  {margin:0 3px -3px 0;}

.main_membox .book                     {padding:3px 0 0 0;}
.main_membox .book .btop               {background:#eeeeef; padding:10px 0px 0px 20px;position: relative; height:40px; border-bottom:1px #c5c5c5 solid;}
.main_membox .book .btop .time         {color:#666; font-weight:bold; position: absolute; width:160px;}
.main_membox .book .btop .time .year   {font-size:24px;}
.main_membox .book .btop .time .word   {font-size:12px;margin:0 5px 0 5px;}
.main_membox .book .btop .next         {position: absolute; top:23px; left:180px; width:200px; }
.main_membox .book .btop .next img     {margin:0 6px 0 0 ;}
.main_membox .book .btop .next .today  {background:url(/images/images_cn/add/sbtn_gray.gif) no-repeat; width:35px; text-align:center; color:#fff; font-size:10px; 
                                        display:block; position: absolute; top:0px; left:50px;}
.main_membox .book .btop .next .today a:link    {color:#fff; text-decoration:none;}
.main_membox .book .btop .next .today a:visited {color:#fff; text-decoration:none;}
.main_membox .book .btop .next .today a:active  {color:#333; text-decoration:none;}
.main_membox .book .btop .next .today a:hover   {color:#333; text-decoration:none;}

.main_membox .book .tab             {border-left:1px #d9d9d9 solid; border-top:1px #d9d9d9 solid; width:100%; vertical-align:center; }
.main_membox .book .tab tr          {}
.main_membox .book .tab tr th       {border-bottom:1px #d9d9d9 solid;border-right:1px #d9d9d9 solid;background:#eeeeef; font-weight:normal;
                                     text-align:center; height:24px; color:#969696;}
.main_membox .book .tab tr th.t1    {border-bottom:1px #d9d9d9 solid;border-right:1px #d9d9d9 solid;background:#eeeeef; font-weight:normal;
                                     text-align:left; height:24px; width:95px; color:#969696; padding:0 0 0 8px;}
.main_membox .book .tab tr th.in    {border-bottom:1px #d9d9d9 solid;border-right:1px #d9d9d9 solid;background:#5AB000; font-weight:normal;
                                     text-align:center; height:24px; color:#fff;}

.main_membox .book .tab tr td.t1    {border-bottom:1px #d9d9d9 solid;border-right:1px #d9d9d9 solid;background:#f8f8f8; height:44px; color:#666;
                                     padding:0 0 0 8px; width:95px; text-align:left;}/*標題*/
.main_membox .book .tab tr td       {border-bottom:1px #d9d9d9 solid;border-right:1px #d9d9d9 solid; height:44px;text-align:center;}
.main_membox .book .tab tr td.in    {border-bottom:1px #d9d9d9 solid;border-right:1px #d9d9d9 solid; height:44px;text-align:center; background:#f7f1e0;}



/*變色改這裡-托益*/
.main_membox .top_class3 {width: 100%;height: 240px;background:#eeeeef url(/images/images_cn/gray_back.gif) repeat-x top;
                          position: relative;border-bottom: 1px solid #c5c5c5;}
.main_membox .top_class3 h1{line-height:30px;position: absolute;left: 20px;top: 30px;color: #666;z-index:3}
.main_membox .top_class3 h1 a{color:#5AB000;}
.main_membox .top_class3 h1 a:hover{color:#5AB000;}
.main_membox .top_class3 h2{line-height:30px;position: absolute;left: 335px;top: 95px;color: #666;z-index:10;}
.main_membox .top_class3 h3{position: absolute;left: 30px;top: 180px;color: #666;z-index:10;}

/*變色改這裡- 订单明细查询的頭*/
.main_membox .top_class4 {width: 100%;height: 160px;background:#eeeeef url(/images/images_cn/gray_back.gif) repeat-x top;
                          position: relative;border-bottom: 1px solid #c5c5c5;}
.main_membox .top_class4 h1{line-height:20px;position: absolute;left: 20px;top: 30px;color: #666;z-index:3;font-size:12px;}
.main_membox .top_class4 h1 a.mail{
    color:#5AB000;
    margin:0 0 0 20px;
	padding:0 0 0 20px;
	background-image: url(/images/images_cn/add/mail.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
}
.main_membox .top_class4 h1 a.mail:hover{color:#5AB000;}

/*變色改這裡- 學習記錄的頭*/
.main_membox .top_class5 {
	position:relative;
	float:left;
	width: 100%;height: 60px;background:#eeeeef;
                          position: relative;border:1px #cccccc solid;}
.main_membox .top_class5 h1{line-height:20px;position: absolute;left: 20px;top: 20px;color: #666;z-index:3;font-size:16px;}
.main_membox .top_class5 a{color:#5AB000;margin:0 0 0 10px;}
.main_membox .top_class5 a:hover{color:#5AB000;}
.main_membox .top_class5 .titleRed{color:#5AB000;margin:0 10px; 0 10px;}




.top_block {clear: both;height: 5px;margin:5px 0 8px 0;}
.class_select {font-size: 12px;color: #555555;border: 1px solid #cccccc;float: left;line-height: 24px;height: 22px; width:105px;
               padding: 2px 0px 2px 0px; min-width:100px;}

.top_class li.noline {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.top_class_calendar {
	background-image: url(/images/images_cn/add/calendar_bg.jpg);
	height: 16px;
	width: 25px;
	padding-top: 6px;
	float: left;
	font-size: 12px;
	color: #555555;
	display: block;
	text-decoration: none;
	text-align: center;
	background-repeat: no-repeat;
	margin-left: 3px;
}
.top_class_btn {
	position: absolute;
	left: 475px;
	top: 38px;
	width: 71px;
}
.btn_class{ width:71px; height:22px; background:url(/images/images_cn/add/s_btn.jpg) no-repeat; 
		 text-align:right; font-size:12px; color:#fff; border:0px; cursor:pointer;
		 padding:0 5px 0 0;float: right;}
.main_membox .top_class_qa {padding-left: 8px;font-size: 12px;color: #555555;}
.main_membox .top_class_qa a {color: #5AB000;text-decoration: underline;font-size: 12px;padding-left: 15px;}
.main_membox .top_class_qa a:hover {color: #5AB000;}

.main_membox .top_class_N1  { width:81px; height:20px; background:url(/images/images_cn/add/sure_bg.jpg) no-repeat; 
		 text-align:center; font-size:12px; color:#fff; border:0px; cursor:pointer;text-decoration: none;
		 padding:17px 0 0 0;margin:0px 2px 0 2px;float: left;display: block;}

/*DCGS-用*/
.main_membox .top_class_N11  { width:81px; height:20px; background:url(/images/images_cn/add/sure_bg.jpg) no-repeat; 
		 text-align:center; font-size:12px; color:#fff; border:0px; cursor:pointer;text-decoration: none;
		 padding:17px 0 0 0;margin:0px 2px 0 2px;float: left;display: block;}
		 
		 
.main_membox .top_class_N2  {
	
	width:110px;
	height:30px;
	background:url(/images/images_cn/add/cancel_bg.png) no-repeat;
	text-align:center;
	font-size:12px;
	color:#666666;
	border:0px;
	cursor:pointer;
	text-decoration: none;
	padding:8px 0 0 0;
	margin:0px 2px 0 0;
	float: left;
	display: block;}

.main_membox a.top_class_N2:link  {color:#555555; text-decoration: none;}
.main_membox a.top_class_N2:visited{color:#555555; text-decoration: none;}
.main_membox a.top_class_N2:active {background:url(/images/images_cn/add/cancel2_bg.png) no-repeat;color:#666666; text-decoration: none;}
.main_membox a.top_class_N2:hover   {background:url(/images/images_cn/add/cancel2_bg.png) no-repeat;color:#666666; text-decoration: none;}

.main_membox .top_class_N3  {
	width:117px;
	height:20px;
	background:url(/images/images_cn/add/sure2_bg_jr.png) no-repeat;
	text-align:center;
	font-size:12px;
	color:#fff;	
	border:0px;
	cursor:pointer;
	text-decoration:none;
	padding:17px 0 0 0;
	margin:0px 2px 0 2px;
	float: left;
	display: block;
	font-family: Arial, Helvetica, sans-serif;}
.main_membox a.top_class_N3:link  {color:#555555; text-decoration: none;}
.main_membox a.top_class_N3:visited{color:#555555; text-decoration: none;}
.main_membox a.top_class_N3:active {color:#999999; text-decoration: none;}
.main_membox a.top_class_N3:hover   {color:#999999; text-decoration: none;}	

.main_membox a.top_class_N4  {width:110px;
	height:30px;
	background:url(/images/images_cn/add/cancel_bg.png) no-repeat;
	text-align:center;
	font-size:12px;
	color:#666666;
	border:0px;
	cursor:pointer;
	text-decoration: none;
	padding:8px 0 0 0;
	margin:0px 2px 0 0;
	float: left;
	display: block;}
.main_membox a.top_class_N4:link  {color:#555555; text-decoration: none;}
.main_membox a.top_class_N4:visited{color:#555555; text-decoration: none;}
.main_membox a.top_class_N4:active {background:url(/images/images_cn/add/cancel2_bg.png) no-repeat;color:#666666; text-decoration: none;}
.main_membox a.top_class_N4:hover   {background:url(/images/images_cn/add/cancel2_bg.png) no-repeat;color:#666666; text-decoration: none;}

.main_membox .top_class_N5  { width:110px; height:30px; background:url(/images/images_cn/add/cancel2_bg.png) no-repeat; 
		 text-align:center; font-size:12px; color:#666666; border:0px; cursor:pointer;text-decoration: none;
		 padding:8px 0 0 0;margin:0px;float: right;display: block;}
		 
		 

.date_btn a.s_gray  {width:35px; height:11px; background:url(/images/images_cn/add/sbtn_gray.gif) no-repeat; margin:0px;
		             text-align:center; font-size:9px; color:#fff; border:0px; cursor:pointer;text-decoration: none;display: block; }
.date_btn a.s_gray:link    {color:#fff; text-decoration:none;}
.date_btn a.s_gray:visited {color:#fff; text-decoration:none;}
.date_btn a.s_gray:active  {color:#5AB000; text-decoration:none;}
.date_btn a.s_gray:hover   {color:#5AB000; text-decoration:none;}
		 
		 
.main_memtitle_line_right_03 a.close_btn01 {
	background:url(/images/images_cn/bg_close.gif) no-repeat right; /*關閉的頁千*/
	width: 46px;
	font-size: 12px;
	color: #333;
	text-align: center;
	float: right;
	display: block;
	text-decoration: none;
	padding: 2px 4px 2px 0;
	text-decoration:none;
	text-align:right;}
.main_memtitle_line_right_03 a.close_btn01:link    {color: #333;text-decoration:none;}
.main_memtitle_line_right_03 a.close_btn01:visited {color: #333;text-decoration:none;}
.main_memtitle_line_right_03 a.close_btn01:active  {color: #333;text-decoration:underline;}
.main_memtitle_line_right_03 a.close_btn01:hover   {color: #333;text-decoration:underline;}

.main_memtitle_line_right_03 a.open_btn01 {
	background:url(/images/images_cn/bg_open.gif) no-repeat right; /*打開的頁千*/
	width: 46px;
	font-size: 12px;
	color: #333;
	text-align: center;
	float: right;
	display: block;
	text-decoration: none;
	padding: 2px 4px 2px 0;
	text-decoration:none;
	text-align:right;}
.main_memtitle_line_right_03 a.open_btn01:link    {color: #333;text-decoration:none;}
.main_memtitle_line_right_03 a.open_btn01:visited {color: #333;text-decoration:none;}
.main_memtitle_line_right_03 a.open_btn01:active  {color: #333;text-decoration:underline;}
.main_memtitle_line_right_03 a.open_btn01:hover   {color: #333;text-decoration:underline;}



/*課程列表*/

.class_list,.class_list2,.class_list3,.class_list32,.class_list4,.test_list{
width:100%;float: left;margin: 10px 0 0 0;padding: 0px;font-size: 12px; word-break:break-all; color:#666;}
.class_list_b{width:100%;float: left;margin: 0px 0 10px 0;padding: 0px;font-size: 12px; word-break:break-all;}

/*bigClass.html用*/
.class_list_b img {float: left; width: 70px;margin:0 15px 0 0px;}
.class_list_b h1 {float: left;width: 20px;margin:0 10px 0 0px;}
.class_list_b h2 {font-size: 12px;color: #5AB000;float: left;width: 70px;margin-right: 15px;}
.class_list_b h3 {font-size: 12px;color: #666;float: left;width: 320px;margin-right: 30px;}
.class_list_b h3 img {float: left;margin-right: 10px; border:1px #cccccc solid; padding:3px;}
.class_list_b h3 p {font-weight: bold;margin: 0px;}
.class_list_b h4{float: left;width: 90px;font-weight: normal;font-size: 12px;}
.class_list_b h5{float: right;width: 50px;font-weight: normal;font-size: 12px;color:#5AB000;text-align: right;}
.class_list_b h5 a{color:#888888;}
.class_list_b h5 a:hover{color:#333333;}
.class_list_b li {float: left;clear: both;width: 100%;list-style-type: none;}



/*resevationClass_1.html用*/
.class_list img {float: left; width: 70px;margin:0 15px 0 15px;}
.class_list h1 {float: left;width: 30px;margin:0 10px 0 10px;}
.class_list h2 {font-size: 12px;color: #5AB000;float: left;width: 70px;margin-right: 15px;}
.class_list h3 {font-size: 12px;color: #666;float: left;width: 400px;margin-right: 30px;}
.class_list h3 img {float: left;margin-right: 10px; border:1px #cccccc solid; padding:3px;}
.class_list h3 p {font-weight: bold;margin: 0px;}
.class_list h4{float: left;width: 70px;font-weight: normal;font-size: 12px;margin-right: 10px;}
.class_list h5{float: right;width: 70px;font-weight: normal;font-size: 12px;color:#5AB000;text-align: right;}
.class_list h5 a{color:#888888;}
.class_list h5 a:hover{color:#333333;}
.class_list li {float: left;clear: both;width: 100%;list-style-type: none;}

/*resevationClass_2.html用*/
.f-new{ font-weight:bold; font-size:12px; color:#b371a7; margin:0 5px 0 0; text-align:left;}

.class_list2 h1 {float: left;width: 60px;margin:0 10px 0 0px;color: #555555; text-align:right;}
.class_list2 h2 {float: left;width: 80px;margin-right: 25px;}
.class_list2 h3 {float: left;width: 60px;margin-right: 15px;}
.class_list2 h4 {float: left;width: 250px;margin-right: 30px;}
.class_list2 h5 {float: left;width: 80px;margin-right: 30px;}
.class_list2 h6 {float: left;width: 170px; text-align:right; color:#969696;}
.class_list2 li {float: left;clear: both;width: 100%;list-style-type: none;padding:10px 0 10px 0; 
                padding-bottom: 5px;border-bottom:1px solid #d9d9d9;color:#333333;}
.class_list2 li.no {float: left;clear: both;width: 100%;list-style-type: none;padding:10px 0 10px 0;  background:#fffcf4;
                    padding-bottom: 5px;border-bottom:1px solid #d9d9d9;color:#333333; 
				    filter:alpha(opacity=60);/*ie*/ -moz-opacity:0.6;/* Moz + FF */ opacity: 0.6;/* CSS3浏览器*/}



/*bigClass_cancel.html用*/
.class_list3 h1 {float: left;width: 40px;margin:0 0 0 5px;color: #5AB000; text-align:left;}
.class_list3 h2 {float: left;width: 90px;}
.class_list3 h3 {float: left;width: 40px;margin-right: 10px;}
.class_list3 h4 {float: left;width: 70px;margin-right: 10px;color: #5AB000;}/*顧問名字*/
.class_list3 h5 {float: left;width: 190px;margin-right: 15px;}
.class_list3 h6 {float: right; color:#969696; width: 140px; text-align:right;}
.class_list3 li {float: left;clear: both;width: 100%;list-style-type: none;padding:10px 0 10px 0; 
                padding-bottom: 5px;border-bottom:1px solid #d9d9d9;color:#333333;}
.class_list3 li.no {float: left;clear: both;width: 100%;list-style-type: none;padding:10px 0 10px 0; background:#fffcf4;
                    padding-bottom: 5px;border-bottom:1px solid #d9d9d9;color:#333333;
				    filter:alpha(opacity=60);/*ie*/ -moz-opacity:0.6;/* Moz + FF */ opacity: 0.6;/* CSS3浏览器*/ }				
				
/*bigClass_success.html用*/
.class_list32 h1 {float: left;width: 60px;margin:0 0 0 5px;color: #555555; text-align:right;}
.class_list32 h2 {float: left;width: 90px;}
.class_list32 h3 {float: left;width: 40px;margin-right: 15px;}
.class_list32 h4 {float: left;width: 70px;margin-right: 10px;color: #5AB000;}/*顧問名字*/
.class_list32 h5 {float: left;width: 185px;margin-right: 20px;}
.class_list32 h6 {float: right; color:#969696; width: 100px; text-align:right;}
.class_list32 li {float: left;clear: both;width: 100%;list-style-type: none;padding:10px 0 10px 0; 
                  border-bottom:1px solid #d9d9d9;color:#333333;}
.class_list32 li.no {float: left;clear: both;width: 100%;list-style-type: none;padding:10px 0 10px 0; background:#fffcf4;
                     border-bottom:1px solid #d9d9d9;color:#333333; filter:alpha(opacity=60);/*ie*/ -moz-opacity:0.6;/* Moz + FF */ opacity: 0.6;/* CSS3浏览器*/ }


.main_membox .class_list4 h1 {float: left;width: 80px;margin:0 10px 0 10px; font-size:13px; color:#666;}
.main_membox .class_list4 h2 {float: left;width: 240px;margin-right: 10px; font-size:13px; color:#666;}
.main_membox .class_list4 h2 span {background:#dfd5de; margin:0 0 0 5px;  padding:1px 5px 1px 5px; color:#666;}
.main_membox .class_list4 h2 span a {color:#2a2a2a; text-decoration:underline;}
.main_membox .class_list4 h2 span a:hover {color:#2a2a2a;text-decoration:none;}
.main_membox .class_list4 h3 {float: left;width: 120px;margin-right: 10px; font-size:13px; color:#666;}
.main_membox .class_list4 h4 {float: right;  color:#666;}
.main_membox .class_list4 h5 {float: left;;margin-right: 15px; white-space:normal; word-break:break-all;  color:#666;}
.main_membox .class_list4 li {float: left;clear: both;width: 100%;list-style-type: none;border-bottom:1px solid #d9d9d9;color:#333333;
                              padding-top: 7px;padding-right: 0;padding-bottom: 15px; padding-left: 0;}
.main_membox .class_list4 a{color:#5AB000;}
.main_membox .class_list4 a:hover{color:#5AB000;}
.main_membox .class_list4 li.C4_BgGreen{background-color:#fffcf4;}


.class_list5{width:310px;float: left;margin: 10px 0 20px 10px ;_margin: 10px 0 20px 5px ;padding: 0px 25px 0 0;font-size: 12px;
             border-right:1px dashed #c1c1c1;}
.class_list5 li,.class_list6 li{float: left;clear: both;width: 100%;list-style-type: none;padding:2px 0 2px 0;
                 border-bottom:1px solid #c1c1c1;color:#333333;}
.class_list5 h1,.class_list6 h1{background: url(/images/images_cn/add/arrow_icon.jpg) no-repeat;;float: left;padding-left: 10px;
	            background-position: 0px 3px;margin: 7px 10px 7px 0;font-weight: bold; }				 
.class_list5 h2,.class_list6 h2{margin: 2px 0 0 0;}

.class_list6{width:310px;float: right;margin: 10px 0 20px 20px ;padding: 0px 20px 0 0;font-size: 12px;}






.word_list{
	width:100%;
	float: left;
	margin: 10px 0 0 0;
	padding: 3px 0 3px 0;
	font-size: 13px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: dashed;
	border-top-color: #c1c1c1;
	border-bottom-color: #c1c1c1;
}
.word_list li {float: left;list-style-type: none;padding:2px 0 2px 0; margin:0px 20px 0 0;}
.word_list li.Eword{color:#555555;letter-spacing: 12px;line-height:24px;}


.test_list li{float: left;clear: both;width: 690px;list-style-type: none;margin:-7px 0 20px 0; padding:0px;color:#333333;}
.test_list h1 {float: left;width:10px;margin:0 5px 0 0 ;color: #e36347;font-weight: bold;font-size: 13;line-height: 24px;}
.test_list h2 {float: left;width:675px;font-weight: bold;line-height: 24px;}
.test_list h2 .color_1 {color:#5AB000;}

.test_list h3  {margin:0 0 10px 15px;float: left;clear:both;width:550px;line-height: 24px;font-weight: bold;}
.test_list p  {margin:0 0 0 15px;float: left;clear:both;width:550px;line-height: 24px;}
.test_list input  {margin:0px 10px -7px 0;_margin:0px 10px 0 0;}



.main_membox .page {clear: both;text-align: right;}
.main_membox .page a,.page a:visited {color:#333333;text-decoration: none;padding:0 5px 0 5px;}
.main_membox .page a:hover {color:#5AB000;}
/*課程列表end*/
.ball_green {
	color: #4c9b42;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 16px \9;
        _font-size:10px;
	padding-left: 5px;
	padding-right: 5px;
}
.ball_red {
	color: #e43b8e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 16px \9;
    _font-size:10px;
	padding-left: 5px;
	padding-right: 5px;
}
.ball_blue {
	color: #1877c7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 16px \9;
    _font-size:10px;
	padding-left: 5px;
	padding-right: 5px;
}
.ball_purple {
	color: #ac1abf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 16px \9;
        _font-size:10px;
	padding-left: 5px;
	padding-right: 5px;
}
.btn_gray, .btn_gray2, .btn_cancel { width:105px; height:38px; line-height:18px;
		 text-align:center; font-size:12px; color:#fff; border:0px; cursor:pointer; padding:0 5px 0 0;
		 background: url(/images/images_cn/gray_btn.png) 0px 0px no-repeat; 
}
.btn_gray:hover, .btn_gray2:hover, .btn_cancel:hover {width:105px; height:38px; line-height:18px;
		 text-align:center; font-size:12px; color:#fff; border:0px; cursor:pointer; padding:0 5px 0 0;
		 background: url(/images/images_cn/gray_btn.png) -105px 0px no-repeat; 
}

.btn_play { width:19px; height:20px; background:url(/images/images_cn/add/play_btn.gif) no-repeat;border:0px;cursor:pointer;margin:0px;}
.btn_red { color: #fff;width:97px; height:23px; background:url(/images/images_cn/btn.gif) no-repeat;border:0px;cursor:pointer;margin:0px;font-size:12px;}
.btn_red2 {color: #fff;width:169px; height:23px; background:url(/images/images_cn/add/big_btn.jpg) no-repeat;border:0px;cursor:pointer;margin:0px;font-size:12px;}
.btn_red3 {color: #fff;width:240px; height:23px; background:url(/images/images_cn/btn_4.gif) no-repeat;border:0px;cursor:pointer;margin:0px;font-size:12px;}
.list_txt {
	clear: both;
	float: left;
	margin-bottom: 50px;
	width: 100%;
	color: #5AB000;
	font-size: 12px;
}
.list_txt p {
	padding: 0px;
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 24px;
	margin-top: 0px;
}

/*行事曆*/

.calendar_bd {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #d9d9d9;
	border-left-color: #d9d9d9;
	margin-bottom: 20px;
}
.calendar_bd td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d9d9d9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d9d9d9;
	height: 50px;
	height: 48px \9;
	font-size: 10px;
	color: #666;
	width: 89px;
	vertical-align:top;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.calendar_bd th{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d9d9d9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d9d9d9;
	font-size: 12px;
	color: #969696;
	padding: 5px;
	width: 89px;
	vertical-align: super;
	font-weight: normal;
	text-align: left;
	background-color: #e6e6e6;
}
.calendar_bd .show{position: relative;}
/*mouseover-藍*/
.calendar_bd .showClass {
	font-size: 12px;
	position: absolute;
	color: #FFf;
	line-height: 14px;
	height: 102px;
	width: 178px;
	_width: 179px;
	background-color: #3f9aaa;
	left: -5px;
	top: -15px;
	_top: -9px;
	padding: 5px 10px 3px 10px;
}
.calendar_bd .showClass ul{padding: 0px;margin: 0 0 0 10px;list-style-type: disc;}
.calendar_bd .showClass li{padding: 0px;margin: 0px;list-style-type: disc; color:#fff;}
.calendar_bd .showClass li a{color:#333; text-decoration:none;}
.calendar_bd .showClass li a:hover{color:#666; text-decoration:underline;}
.calendar_bd .showClass a{
	color:#fff;
	padding:0 5px 0 5px;
	text-decoration: none;}
.calendar_bd .showClass a:hover{
	color:#666;}
/*mouseover-green*/
.calendar_bd .showClass1 {
	font-size: 12px;
	position: absolute;
	color: #FFf;
	line-height: 14px;
	height: 102px;
	width: 178px;
	_width: 179px;
	background-color: #4c9b42;
	left: -5px;
	top: -15px;
	_top: -9px;
	padding: 5px 10px 3px 10px;
}
.calendar_bd .showClass1 ul{padding: 0px;margin: 0 0 0 10px;list-style-type: disc;}
.calendar_bd .showClass1 li{padding: 0px;margin: 0px;list-style-type: disc; color:#fff;}
.calendar_bd .showClass1 li a{color:#333; text-decoration:none;}
.calendar_bd .showClass1 li a:hover{color:#666; text-decoration:underline;}
.calendar_bd .showClass1 a{	color:#fff;	padding:0 5px 0 5px; text-decoration: none;}
.calendar_bd .showClass a:hover{color:#666;}	
/*mouseover-red*/
.calendar_bd .showClass2 {
	font-size: 12px;
	position: absolute;
	color: #FFf;
	line-height: 14px;
	height: 102px;
	width: 178px;
	_width: 179px;
	background-color: #ed1b1b;
	left: -5px;
	top: -15px;
	_top: -9px;
	padding: 5px 10px 3px 10px;
}
.calendar_bd .showClass2 ul{padding: 0px;margin: 0 0 0 10px;list-style-type: disc;}
.calendar_bd .showClass2 li{padding: 0px;margin: 0px;list-style-type: disc; color:#fff;}
.calendar_bd .showClass2 li a{color:#333; text-decoration:none;}
.calendar_bd .showClass2 li a:hover{color:#666; text-decoration:underline;}
.calendar_bd .showClass2 a{	color:#fff;	padding:0 5px 0 5px; text-decoration: none;}
.calendar_bd .showClass a:hover{color:#666;}	
	
	
	
.calendar_bd td.logobar{width:550px;}
.calendar_bd td.logobar .cla {float:left; width:510px;}
.calendar_bd td.logobar .cla p {float:left; width:90px; }

.calendar_bd td.logobar_2{width:550px;background-color:#fffcf4; }
.calendar_bd th.shortbar{font-size:13px;color: #969696; vertical-align:top;}
.calendar_bd p{padding: 0px;margin: 0px;color:#8e8a70;font-size: 12px}
.main_membox .calendar_bd a{color:#888888;padding:0 5px 0 5px}
.main_membox .calendar_bd a:hover{color:#333333}
.calendar_bd th.bg_color_brown{background-color:#5AB000;color: #fff;}
.calendar_bd td.bg_color_green{background-color:#fffcf4;}
.

/*上课记录&评分表格*/
.score_bd {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b4b4b4;
	margin-bottom: 20px;
	float: left;
	clear: both;
}
.score_bd td{
	font-size:12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
	height: 35px;
	height: 25px \9;
	color: #666;
	padding:5px 10px 5px 10px;
	text-align: left;
	vertical-align: super;
}

.score_bd th{
    height: 30px;
	height: 25px \9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #b4b4b4;
	font-size: 12px;
	color: #666;
	padding:10px 0 0 10px;
	width: 90px;
	text-align: left;;
	background-image: url(/images/images_cn/add/arrow_icon.jpg);
	background-repeat: no-repeat;
	background-position: 0px 13px;
	vertical-align: super;
}

/*歷史查詢表格*/
.history_bd {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #d9d9d9;
	border-left-color: #d9d9d9;
	margin-bottom: 20px;
	float: left;
}
.history_bd td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d9d9d9;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #d9d9d9;
	height: 25px \9;
	color: #666;
	width: 13%;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	_width: auto;
}

.history_bd th{
    
	height: 25px \9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d9d9d9;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #d9d9d9;
	font-size: 12px;
	color: #666;
	padding-top: 7px;
	padding-bottom: 5px;
	width: 13%;
	text-align: center;
	background-color: #eeeeef;
	_width: auto;
}
.history_bd a{color:#5AB000;}
.history_bd a:hover{color:#5AB000;}


.history_bd th.bg_gray{background-color: #e2e2e2;}
.history_bd td.rightLine,.history_bd th.rightLine{
	border-right-style: solid;
	border-right-color: #d9d9d9;
	border-right-width: 1px;
	width:22%;
	line-height:20px;
	text-align:center;
	padding:0 0 0 0px;
	}
.history_bd td.rightLine2,.history_bd th.rightLine2{
	border-right-style: dashed;
	border-right-color: #d9d9d9;
	border-right-width: 1px;
	width:22%;
	line-height:20px;
	text-align:center;
	padding:0 0 0 0px;
	}

.history_bd td.rightLine3,.history_bd th.rightLine3{
	border-right-style: solid;
	border-right-color: #d9d9d9;
	border-right-width: 1px;
	width:13%;
	line-height:20px;
	text-align:center;
	padding:0 0 0 0px;
	}
	
/*各期明細*/
.history_bd2 {  margin-bottom: 20px;}
.history_bd2 .htop { }
.history_bd2 .htop .hleft  {width:25px; float:left; height:33px; background:url(/images/images_cn/mem_detail_left.gif) no-repeat bottom; display:block;}
.history_bd2 .htop .hleft a:link, .history_bd2 .htop .hleft a:visited  {background:url(/images/images_cn/mem_detail_left.gif) no-repeat bottom; display:block;width:25px;height:33px;}
.history_bd2 .htop .hleft a:active, .history_bd2 .htop .hleft a:hover  {background:url(/images/images_cn/mem_detail_left_ov.gif) no-repeat bottom; display:block;width:25px;height:33px;}

.history_bd2 .htop .hright {width:27px; float:left; height:33px; background:url(/images/images_cn/mem_detail_right.gif) no-repeat bottom; display:block;}
.history_bd2 .htop .hright a:link, .history_bd2 .htop .hright a:visited  {background:url(/images/images_cn/mem_detail_right.gif) no-repeat bottom; display:block;width:27px;height:33px;}
.history_bd2 .htop .hright a:active, .history_bd2 .htop .hright a:hover  {background:url(/images/images_cn/mem_detail_right_ov.gif) no-repeat bottom; display:block;width:27px;height:33px;}

.history_bd2 .htop .back   {width:108px; float:left; background:url(/images/images_cn/mem_detail_back.gif) no-repeat bottom; height:22px; text-align:center; padding:11px 0 0 0;}
.history_bd2 .htop .back a:link, .history_bd2 .htop .back a:visited {color:#333333; text-decoration:none; }
.history_bd2 .htop .back a:active, .history_bd2 .htop .back a:hover {color:#333333; text-decoration:none; font-weight:bold;}

.history_bd2 .htop .back-in {width:107px; float:left;background:url(/images/images_cn/mem_detail_in.gif) no-repeat bottom; height:22px; text-align:center; padding:11px 0 0 0; 
                             margin:0 0 0 1px; font-weight:bold;}

.history_bd2 table.hisbd { border-left:1px #b8b8b8 solid; border-bottom:1px #b8b8b8 solid;border-right:1px #b8b8b8 solid; }
.history_bd2 table.hisbd th.top{ padding:10px 0 10px 10px; text-align:left;}
.history_bd2 table.hisbd th.tt { width:14%; background:#fffcf4; text-align:center; border-top:1px #b8b8b8 solid; padding:5px 0 5px 0;}
.history_bd2 table.hisbd th.line {border-left:1px #b8b8b8 dashed;}
.history_bd2 table.hisbd td    { width:14%; text-align:center;  border-top:1px #b8b8b8 solid; padding:5px 0 5px 0; height:20px;}
.history_bd2 table.hisbd td.dd { width:4%;text-align:center; vertical-align:top; background:#fffcf4; border-left:1px #b8b8b8 dashed;border-right:1px #b8b8b8 dashed; 
                                 padding:12px 0 0 0;}
.history_bd2 table.hisbd td.line {border-left:1px #b8b8b8 dashed;}

.history_bd2 table.hisbd2 { border-left:1px #b8b8b8 solid; border-bottom:1px #b8b8b8 solid;border-right:1px #b8b8b8 solid; }
.history_bd2 table.hisbd2 th.top{ padding:25px 0 10px 10px; text-align:left; border:0; background:#fff;}
.history_bd2 table.hisbd2 th     { width:12%; background:#fffcf4; text-align:center; border-top:1px #b8b8b8 solid; padding:5px 0 5px 0; border-right:1px #b8b8b8 dashed;}
.history_bd2 table.hisbd2 th.tt  { width:12%; border-right:0;}
.history_bd2 table.hisbd2 th.tt2 {width:40%; }
.history_bd2 table.hisbd2 td    { width:12%; text-align:center; border-top:1px #b8b8b8 solid; padding:5px 0 5px 0; height:20px; border-right:1px #b8b8b8 dashed;}
.history_bd2 table.hisbd2 td.tt  { width:12%; border-right:0;}
.history_bd2 table.hisbd2 td.tt2 {width:40%; text-align:left; padding:5px 6px 5px 8px; line-height:16px; } 

.history_bd2 table.hisbd2 a:link, .history_bd2 table.hisbd2 a:visited { text-decoration:none;}
.history_bd2 table.hisbd2 a:active, .history_bd2 table.hisbd2 a:hover { text-decoration:underline; color:#ff5400;}




/*學習狀態表格*/
.bought_bd {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #b4b4b4;
	border-left-color: #b4b4b4;
	margin-bottom: 20px;
	float: left;
	clear: both;
}
.bought_bd td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #b4b4b4;
	height: 30px;
	height: 25px \9;
	color: #666;
	width: 135px;
	_width: auto;
	padding-top: 5px;
	padding-bottom: 2px;
	text-align: center;
	font-size:12px;
}

.bought_bd th{
    height: 30px;
	height: 25px \9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #b4b4b4;
	font-size: 12px;
	color: #666;
	padding-top: 5px;
	padding-bottom: 2px;
	width: 135px;
	_width: auto;
	text-align: center;
	background-color: #eeeeef;
}
.bought_bd th.width_30{width: 30px;_width: 30px;}
.bought_bd th.width_100{width: 100px;}
.bought_bd th.width_175{_width: 174px;}
.bought_bd td.main_ct{width: 380px;text-align:left;padding:0 10px 0 10px;}
.bought_bd td.main_ct .account {color:#5AB000 !important; text-decoration:underline;}
.bought_bd td.main_ct a:link    {color:#5AB000 !important; text-decoration:underline;}
.bought_bd td.main_ct a:visited {color:#333333; text-decoration:underline;}
.bought_bd td.main_ct a:active  {color:#333333; text-decoration:none;}
.bought_bd td.main_ct a:hover   {color:#333333; text-decoration:none;}

.account_info{
	color:#5AB000 !important; text-decoration:underline;
}
account_info:hover   {color:#333333; text-decoration:none;}

/*學習狀態表格222*/
.bought_bd2 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #b4b4b4;
	border-left-color: #b4b4b4;
	margin-bottom: 20px;
	float: left;
	clear: both;
}
.bought_bd2 td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #b4b4b4;
	height: 30px;
	height: 25px \9;
	color: #666;
	width: 210px;
	_width: auto;
	padding-top: 5px;
	padding-bottom: 2px;
	text-align: center;
}

.bought_bd2 th{
    height: 30px;
	height: 25px \9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #b4b4b4;
	font-size: 12px;
	color: #666;
	padding-top: 5px;
	padding-bottom: 2px;
	width: 210px;
	_width: auto;
	text-align: center;
	background-color: #e2e2e2;
}
.bought_bd2 th.width_30{width: 30px;_width: 30px;}


.history_bd th.bg_gray{background-color: #e2e2e2;}
.history_bd td.rightLine,.history_bd th.rightLine{
	border-right-style: solid;
	border-right-color: #d9d9d9;
	border-right-width: 1px;
	width:32%;
	line-height:20px;
	text-align:left;
	padding:0 0 0 12px;
	}
.bought_bd td.rightLine,.bought_bd th.rightLine{
	border-right-style: solid;
	border-right-color: #b4b4b4;
	border-right-width: 1px;
	width:25%;
	line-height:20px;
	}

/*共通設定*/


.fontSize_12{font-size: 12px;padding:0 3px 0 3px;}
.floatL_a {float: left;width:40px;height:45px;}
.floatR_a {float: right;margin:0 0 30px 0}
.floatL {font-size: 12px;float: left;margin-right: 0px;padding-right: 0px;margin-top: 3px;}
.floatR {float: right;margin-right: 0px;padding-right: 0px;margin-top: 3px;}
.color_black {color: #666;}
.color_brown {color: #5AB000;}
.color_blue {color: #1688a2;}/*大會堂*/
.color_green {color: #3a8d33;}/*1對1*/
.color_red {color: #e43b8e;}/*1對6*/
h1,h2,h3,h4,h5,h6{padding: 0px;margin: 0px;font-size: 100%;font-weight: normal;}
.arrow_title {
	background-image: url(/images/images_cn/add/arrow_icon.jpg);
	float: left;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	margin-bottom: 10px;
	clear: both;
	_width:150px;
}
.red_title{float: left;	margin-bottom: 10px;clear: both;color:#5AB000;font-size:15px;width:300px;}
.Div_relative{position: relative;_height: 0px;}
.gray_line{
	position: absolute;
	width: 50px;
	top: -10px;
	left: -10px;
	_top: -30px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
}
.gray_ballNum{
	width:16px;
	height:16px;
	background:url(/images/images_cn/add/gray_ball.gif) no-repeat;
	color:#fff;
	margin:0 10px 0 10px;
	text-align:center;
	font-size: 12px;
	float:left;
}
.green_ballNum{
	width:16px;
	height:16px;
	background:url(/images/images_cn/add/green_ball.gif) no-repeat;
	color:#fff;
	margin:0 10px 0 10px;
	text-align:center;
	font-size: 12px;
	float:left;
}
.gray_ballNum2{
	width:16px;
	height:19px;
	background:url(/images/images_cn/add/gray_ball.gif) no-repeat;
	background-position:0 3px;
	color:#fff;
	text-align:center;
	font-size: 12px;
	float:left;
	padding-top: 3px;
	margin: 0 0 0 3px;
}
.green_ballNum2{
	width:16px;
	height:19px;
	background:url(/images/images_cn/add/orange_ball2.gif) no-repeat;
	background-position:0 3px;
	color:#fff;
	text-align:center;
	font-size: 12px;
	float:left;
    padding-top: 3px;
	margin: 0 0 0 3px;
}
.green_ballNum_go{
	width:16px;
	height:19px;
	background:url(/images/images_cn/add/orange_ball2.gif) no-repeat;
	color:#fff;
	text-align:center;
	font-size: 12px;
	float:left;
	padding-top: 3px;
	margin: 0 0 0 3px;
}

.main_memtitle_line_03         {width:100%;}
.main_memtitle_line_left_03    {
	border-top:5px #b7b4a2 solid;
	float:left;
	font-weight:bold;
	text-align:left;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 14px;
	width: 75px;
}
.main_memtitle_line_right_03   {
	border-top:1px #d9d9d9 solid;
	float:left;
	text-align:left;
	width: 610px;
}


/*學習記錄-諮詢復習*/
.main_membox .hwork {width:100%; margin:0px 0 0 0; _margin:-15px 0 0 0;}
*:first-child+html .hwork {width:100%; margin:-5px 0 0 0; }/*ie7*/
.main_membox .hwork .w   { margin:5px 0 10px 0; line-height:20px;}
.main_membox .hwork .org { color:#5AB000;}
.main_membox .hwork .gray { color:#969696;}

.main_membox .hwork .wlist {width:100%; margin:0px 0 20px 0; }
.main_membox .hwork .wlist li.title1 { width:19%; list-style-type:none; margin:0; padding:5px 0 0 10px; float:left; line-height:22px; 
                                       border-top:1px #cccccc solid; border-bottom:1px #cccccc solid; background:#fffcf4; height:25px;}
.main_membox .hwork .wlist li.title2 { width:69%; list-style-type:none; margin:0; padding:5px 0 0 0px; float:left; line-height:22px;
                                       border-top:1px #cccccc solid; border-bottom:1px #cccccc solid; background:#fffcf4; height:25px;}
.main_membox .hwork .wlist li.title3 { width:10%; list-style-type:none; margin:0; padding:5px 0 0 0px; float:left; line-height:22px;
                                       border-top:1px #cccccc solid; border-bottom:1px #cccccc solid; background:#fffcf4; height:25px;}									
.main_membox .hwork .wlist .onebox { padding:5px 0 0 0px; line-height:22px; border-bottom:1px #cccccc solid; background:#fff; }   
.main_membox .hwork .wlist .onebox .date  { list-style-type:none; margin:0; padding:5px 0 0 10px; line-height:22px; float:left; width:19%;}   
.main_membox .hwork .wlist .onebox .desc  { list-style-type:none; margin:0; padding:5px 0 0 0px; line-height:22px; float:left; width:69%;}  
.main_membox .hwork .wlist .onebox .desc p   {margin:0px 0 5px 0; color:#666; } 
.main_membox .hwork .wlist .onebox .desc img {margin:0px 0 -2px 5px; }
.main_membox .hwork .wlist .onebox .count { list-style-type:none; margin:0; padding:5px 0 0 0px; line-height:22px; float:left; width:10%; }  

.main_membox .hwork .wlist .onebox a:link    { color:#5AB000;text-decoration: none;}  
.main_membox .hwork .wlist .onebox a:visited { color:#5AB000;text-decoration: none;}  
.main_membox .hwork .wlist .onebox a:active  { color:#5AB000;text-decoration: none;} 
.main_membox .hwork .wlist .onebox a:hover   { color:#5AB000;text-decoration: none;} 

.main_membox .hwork .wlist .page           {width:100%; text-align:right; margin:10px 0 0 0; font-weight:bold; }
.main_membox .hwork .wlist .page a:link    {text-decoration: none; margin:0 0 0 5px;}
.main_membox .hwork .wlist .page a:visited {text-decoration: none; }
.main_membox .hwork .wlist .page a:active  {color:#5AB000; text-decoration: none; }
.main_membox .hwork .wlist .page a:hover   {color:#5AB000; text-decoration: none; }

.main_membox .hwork .scale  {width:85%; text-align:left; margin:40px 0 20px 90px;}

.main_membox .hwork .wlist2         {width:685px; margin:0px 0 20px 15px; background:#fff; }
.main_membox .hwork .wlist2 .tline  {/*height:3px; background:#cccccc;width:161px; font-size:1px; margin:0 0 0 -10px;*/}
.main_membox .hwork .wlist2 .title  {width:675px; margin:0 ; background:url(/images/images_cn/arrow_path.gif) no-repeat; height:22px; *height:20px;
                                     background-position:0px 3px; padding:3px 0 0 10px; font-weight:bold; font-size:15px;border-bottom:1px #cccccc solid;  color:#666;}
.main_membox .hwork .wlist2 .linebox       {border-bottom:1px #cccccc solid; background:#fffcf4;}
.main_membox .hwork .wlist2 .linebox .plt  {width:150px;  float:left; padding:6px 10px 6px 0px;  text-align:right;  }
.main_membox .hwork .wlist2 .linebox .prt  {width:514px;  float:left; padding:6px 0 6px 10px; background:#fff; border-left:1px #cccccc dotted; color:#666;}

.main_membox .hwork .wlist3         {width:98%; margin:0px 0 20px 15px; background:#fff; }
.main_membox .hwork .wlist3 .title  {border-bottom:1px #cccccc solid; margin:5px 0 5px 0; background:url(/images/images_cn/arrow_path.gif) no-repeat; 
                                     background-position:0px 5px; padding:3px 0 0 10px; line-height:24px; font-weight:bold; font-size:15px;}
.main_membox .hwork .wlist3 .title .score {font-size:18px; color:#d90000; font-weight:bold; text-decoration:underline; margin:0 0 0 7px;}
.main_membox .hwork .wlist3 .answer {color:#5AB000; font-weight:bold; }
.main_membox .hwork .wlist3 .ps       {font-size:12px; color:#969696; font-weight:bold; margin:0 0 10px 10px;}
.main_membox .hwork .wlist3 p       {margin:5px 0 10px 10px; line-height:22px; border-bottom:1px #cccccc dotted; padding:0 0 5px 0; }
.main_membox .hwork .wlist3 img     {margin:0px 5px -2px 0;}
.main_membox .hwork .under          {font-weight:bold; text-decoration: underline; margin:0 5px 0 0;}
.main_membox .hwork .wlist3 .selct         {width:98%; margin:0 0 0 10px;}
.main_membox .hwork .wlist3 .selct .tle  {font-weight:bold; padding:0px 0 0px 0; height:25px;}

.main_membox .hwork .wlist3 .selct .lt   {float:left; width:180px;}
.main_membox .hwork .wlist3 .selct .rt   {float:left; width:490px;}

.main_membox .hwork .wlist3 .selct .lt .subj       {width:100%; margin:5px 0 5px 0; }
.main_membox .hwork .wlist3 .selct .lt .subj-font  {font-weight:bold; color:#333333; margin:0 0 0 5px; text-decoration:underline;}
.main_membox .hwork .wlist3 .selct .lt .subj-as    {width:95%; margin:0px 0 0px 10px; font-weight:bold;}

.main_membox .hwork .wlist3 .selct .rt .cho       {width:100%; margin:5px 0 8px 0; border-bottom:1px #cccccc dotted; padding:0 0 5px 0;}
.main_membox .hwork .wlist3 .selct .rt .cho h1    { background:#cccccc; border:1px #cccccc solid; padding:2px 4px 4px 4px; float:left; 
                                                   margin:0 10px 0 0; font-size:12px; font-weight:bold; color:#555555;}
.main_membox .hwork .wlist3 .selct .rt .cho h2    {line-height:20px; float:left; width:460px;}
.main_membox .hwork .wlist3 .bline {padding:20px 0 0 0;  border-top:1px #cccccc solid; text-align:right; }



/*業務demo完的程度分析*/
.main_membox .e-rep                      {margin:10px 0 0 0; text-aling:left;}
.main_membox .e-rep .showit1             {border-bottom:1px #b5b5b5 solid; padding:0 0 3px 0; }
.main_membox .e-rep .showit1 h1          {color:#1877c7; font-size:16px; font-weight:bold; line-height:28px; border-bottom:1px #b5b5b5 solid; margin:0 0 8px 0; 
                                          padding:0;}
.main_membox .e-rep .showit1 ul          {margin:0; padding:0; list-style-type:none;}
.main_membox .e-rep .showit1 ul li.num   {width:342px;  float:left; display:block; margin:0 0 5px 0; }
.main_membox .e-rep .showit1 ul li.space {width:15px; float:left; font-size:1px; display:block; }
.main_membox .e-rep .showit1 ul li.line  {width:700px; background:url(/images/images_cn/demo-line.gif) no-repeat; height:7px; font-size:1px; clear:both; margin:-8px 0 0 0;}
.main_membox .e-rep .showit1 h2          {color:#333333; font-size:12px; font-weight:bold; width:40px; float:left; padding:0 0 0 5px; line-height:22px;}
.main_membox .e-rep .showit1 h3          {float:left; text-align:left;}
.main_membox .e-rep .showit1 p           {float:left; margin:0 5px 0 0; }

.main_membox .e-rep .showit2             {border-top:1px #b5b5b5 solid; margin:30px 0 0 0; }
.main_membox .e-rep .showit2 .tab        {margin:0 ;padding:0; width:100%;}
.main_membox .e-rep .showit2 .tab tr     {margin:0 ;padding:0;}
.main_membox .e-rep .showit2 .tab tr td     {border-bottom:1px #b5b5b5 solid;}
.main_membox .e-rep .showit2 .tab tr td.tt  { background:#f0f0f0; text-align:center; padding:10px; width:11%; color:#555555; font-weight:bold;}
.main_membox .e-rep .showit2 .tab tr td.lev { text-align:left; padding:10px 0 10px 15px; width:11%; color:#5AB000; border-right:1px #d1d1d1 dashed; }
.main_membox .e-rep .showit2 .tab tr td.desc{ text-align:left; padding:10px 10px 10px 15px; width:78%; color:#555555; word-break:break-all; line-height:17px; 
                                              letter-spacing:0.1em;}

.main_membox .e-rep .showit3                   {margin:30px 0 0 0; }
.main_membox .e-rep .showit3 .tab1             {margin:0 ;padding:0; width:100%;}
.main_membox .e-rep .showit3 .tab1 tr          {margin:0 ;padding:0; }
.main_membox .e-rep .showit3 .tab1 tr td       {border-bottom:1px #b5b5b5 solid;}
.main_membox .e-rep .showit3 .tab1 tr td.tle   {border-bottom:4px #d5d5d5 solid; color:#1877c7; font-size:15px; font-weight:bold; text-align:right; width:22%;
                                                line-height:25px; padding:0 10px 0 0;}
.main_membox .e-rep .showit3 .tab1 tr td.sp    {width:78%; text-align:left; padding:0 0 0 15px;}
.main_membox .e-rep .showit3 .tab1 tr td.tt2     {font-weight:bold; text-align:right; width:22%; padding:10px 10px 0 0; vertical-align:top;}
.main_membox .e-rep .showit3 .tab1 tr td.desc2   {text-align:left; width:78%; padding:10px 10px 10px 15px; word-break:break-all;}
.main_membox .e-rep .showit3 h1                  {float:left; width:44%; margin:10px 0 10px 0;}
.main_membox .e-rep .showit3 h2                  {float:left; width:56%; color:#5AB000; font-weight:bold; margin:10px 0 10px 0;}
.main_membox .e-rep .showit3 span                {margin:0 8px 0 8px; font-weight:normal; color:#6c6c6c;}
.main_membox .e-rep .showit3 h3                  {float:left; width:15%; margin:10px 0 10px 0;}
.main_membox .e-rep .showit3 h4                  {float:left; width:85%; color:#5AB000; font-weight:bold; margin:10px 0 10px 0;}


/*訂課前導頁*/
.main_membox .choose          {margin:0 0 150px 0; }
.main_membox .choose .w       {text-align:left;line-height:30px;margin:0 0 20px 0; color:#666;}
.main_membox .choose .btn1 a       {float:left; background:url(/images/images_cn/order_1to1_jr.gif) no-repeat; width:206px; height:97px; display:block; margin:0 6px 0 0; float:left;}
.main_membox .choose .btn1 a:hover {float:left; background:url(/images/images_cn/order_1to1ov_jr.gif) no-repeat; width:206px; height:97px; display:block; margin:0 6px 0 0; float:left;}
*:first-child+html .main_membox .choose .btn1 {margin:0 0 0 10px;}/*ie7*/
/*html>body .main_membox .choose .btn1          {margin:0 0 0 10px;}ff*/  
.main_membox .choose .btn2 a       {float:left; background:url(/images/images_cn/order_1to3_jr.gif) no-repeat; width:206px; height:97px; display:block; margin:0 6px 0 0; float:left;}
.main_membox .choose .btn2 a:hover {float:left; background:url(/images/images_cn/order_1to3ov_jr.gif) no-repeat; width:206px; height:97px; display:block; margin:0 6px 0 0; float:left;}
.main_membox .choose .btn3 a       {float:left; background:url(/images/images_cn/order_da_jr.gif) no-repeat; width:206px; height:97px; display:block; margin:0 6px 0 0; float:left;}
.main_membox .choose .btn3 a:hover {float:left; background:url(/images/images_cn/order_daov_jr.gif) no-repeat; width:206px; height:97px; display:block; margin:0 6px 0 0; float:left;}

/*VIP入會申請表*/
.main_appform                   {border-top:1px #cccccc solid; padding:10px 0 0 0 ;  }
.main_appform h1                {margin:0; padding:0; letter-spacing:1px; line-height:22px;}
.main_appform .title            {width:100%;border-top:1px #dddddd solid;margin:20px 0 5px 0;}
.main_appform .title .line      {width:120px; border-top:4px #dddddd solid; font-weight:bold; }

/*下載互動軟件*/
.download_area{
	border-top:1px #eeeeef solid;
}
.download_area .step1         {background:url(/images/step1.gif) no-repeat; width:288px; height:81px; float:left; display:block; margin:10px 0 0 35px;_margin:10px 0 0 18px;}
.download_area .step1 a       {background:url(/images/step1.gif) no-repeat ; display:block;  }
.download_area .step1 a:hover {background:url(/images/step1ov.gif) no-repeat; display:block;  }
.download_area .step2         {background:url(/images/step2.gif) no-repeat; width:288px; height:81px; float:left; display:block;margin:10px 0 0 30px;}
.download_area .step2 a       {background:url(/images/step2.gif) no-repeat; display:block; }
.download_area .step2 a:hover {background:url(/images/step2ov.gif) no-repeat; display:block; }

.download_area .step3         {background:url(/images/step3.gif) no-repeat; width:288px; height:81px; float:left; display:block; margin:10px 0 0 35px;_margin:10px 0 0 18px;}
.download_area .step3 a       {background:url(/images/step3.gif) no-repeat ; display:block;  }
.download_area .step3 a:hover {background:url(/images/step3ov.gif) no-repeat; display:block;  }

.download_area .step4         {background:url(/images/step4.gif) no-repeat; width:288px; height:81px; float:left; display:block; margin:10px 0 0 35px;_margin:10px 0 0 18px;}
.download_area .step4 a       {background:url(/images/step4.gif) no-repeat ; display:block;  }
.download_area .step4 a:hover {background:url(/images/step4ov.gif) no-repeat; display:block;  }

.download_area .step4win         {background:url(/images/step4win.gif) no-repeat; width:288px; height:81px; float:left; display:block; margin:10px 0 0 35px;_margin:10px 0 0 18px;}
.download_area .step4win a       {background:url(/images/step4win.gif) no-repeat ; display:block;  }
.download_area .step4win a:hover {background:url(/images/step4winov.gif) no-repeat; display:block;  }

.download_area .step4mac         {background:url(/images/step4mac.gif) no-repeat; width:288px; height:81px; float:left; display:block; margin:10px 0 0 35px;_margin:10px 0 0 18px;}
.download_area .step4mac a       {background:url(/images/step4mac.gif) no-repeat ; display:block;  }
.download_area .step4mac a:hover {background:url(/images/step4macov.gif) no-repeat; display:block;  }

/*
.download_area .step3         {
	background:url(/images/step3.gif) no-repeat;
	width:288px;
	height:81px;
	float:left;
	display:block;
	margin:10px 0 0 30px;
	_margin:10px 0 0 18px;
}
.download_area .step3 a       {background:url(/images/step3.gif) no-repeat ; display:block;  }
.download_area .step3 a:hover {background:url(/images/step3ov.gif) no-repeat; display:block;  }
.download_area .test          {
	margin:10px 0 0 25px;
	line-height:20px;
}
*/
.download_area .test img      {margin:5px 0 5px 0;}




/*付款帳號*/
.buy_account              {}
.buy_account ul           { list-style:none; }
.buy_account ul li        { list-style:none; }
.buy_account ul li.tt     {float:left; width:50px; text-align:left; }
.buy_account ul li.tt2    {float:left; width:190px; text-align:left; }
.buy_account .board1 {float:left; width:296px; height:100px; background:url(../../images/images_cn/zhaoshang.gif) no-repeat left top; padding:100px 0 0 30px;}
body:nth-of-type(1) .buy_account .board1 {padding:90px 0 0 30px;height:110px;}/*Chrome*/
html>body .main_fun .buy_account .board1 {padding:90px 0 0 30px;height:110px;} /*ff*/
.buy_account .board2 {float:left; width:291px; height:100px; background:url(../../images/images_cn/gongshang.gif) no-repeat left top; padding:100px 0 0 35px; 
                      margin-left:25px;}
body:nth-of-type(1) .buy_account .board2 {padding:90px 0 0 30px;height:110px;}/*Chrome*/
html>body .main_fun .buy_account .board2 {padding:90px 0 0 30px;height:110px;} /*ff*/
.buy_account .board3 {float:left; width:309px; height:100px; background:url(../../images/images_cn/jianshe.gif) no-repeat left top; padding:100px 0 0 17px;}
body:nth-of-type(1) .buy_account .board3 {padding:90px 0 0 30px;height:110px; margin-top:20px;}/*Chrome*/
html>body .main_fun .buy_account .board3 {padding:90px 0 0 30px;height:110px; margin-top:20px;} /*ff*/

/*--------------2011-05-06 add map------------------------*/
.buy_account .board4 {float:left; width:291px; height:100px; background:url(../../images/map2.jpg) no-repeat left top; padding:100px 0 0 35px; 
                      margin-left:25px;}
body:nth-of-type(1) .buy_account .board4 {padding:90px 0 0 30px;height:110px;}/*Chrome*/
html>body .main_fun .buy_account .board4 {padding:90px 0 0 30px;height:110px;} /*ff*/
.bannerpay{width:698px; height:312px; background-image:url(../../images/paybanner.jpg); background-repeat:no-repeat; clear:both}