body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MG___Mega_mune_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-49px;
    top:12px;
    width:1402px;
    height:1631px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1402px;
    height:1631px;
}

.u1 {
    position:absolute;
    left:2px;
    top:808px;
    width:1398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MG___Mega_mune_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:635px;
    top:192px;
    width:450px;
    height:187px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:193px;
}

.u3 {
    position:absolute;
    left:2px;
    top:86px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:647px;
    top:208px;
    width:75px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:659px;
    top:234px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../MG___Mega_mune_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:75px;
    height:3px;
}

.u6 {
    position:absolute;
    left:115px;
    top:223px;
    width:75px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:703px;
    top:234px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:669px;
    top:260px;
    width:152px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:103px;
    top:154px;
    width:103px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
}

#u10 {
    position:absolute;
    left:380px;
    top:781px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
}

