body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../About_TutorMing_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:670px;
    height:492px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:670px;
    height:492px;
}

.u1 {
    position:absolute;
    left:2px;
    top:238px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../About_TutorMing_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:26px;
    width:670px;
    height:466px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:472px;
}

.u3 {
    position:absolute;
    left:2px;
    top:225px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../About_TutorMing_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:205px;
    top:-39px;
    width:260px;
    height:195px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:195px;
}

.u5 {
    position:absolute;
    left:2px;
    top:90px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../About_TutorMing_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:487px;
    top:2px;
    width:181px;
    height:24px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:24px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:31px;
    top:82px;
    width:608px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:31px;
    top:191px;
    width:608px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:61px;
    top:394px;
    width:335px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:61px;
    top:423px;
    width:335px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:61px;
    top:452px;
    width:335px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_container {
    position:absolute;
    left:31px;
    top:452px;
    width:20px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:31px;
    top:397px;
    width:20px;
    height:14px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:14px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-1px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_container {
    position:absolute;
    left:31px;
    top:422px;
    width:20px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:31px;
    top:240px;
    width:614px;
    height:136px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:406px;
    top:394px;
    width:608px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:31px;
    top:144px;
    width:608px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:406px;
    top:423px;
    width:608px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:406px;
    top:452px;
    width:608px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:406px;
    top:420px;
    width:160px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u25 {
    position:absolute;
    left:400px;
    top:450px;
    width:160px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u26 {
    position:absolute;
    left:6px;
    top:0px;
    width:43px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u27 {
    position:absolute;
    left:50px;
    top:0px;
    width:43px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u28 {
    position:absolute;
    left:143px;
    top:450px;
    width:217px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u29 {
    position:absolute;
    left:460px;
    top:354px;
    width:160px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

